Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

Refactor NewSpan to include span end function.
  contrib/go.sum
  contrib/tracekit/helpers.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.31
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor instrumentation handling in trace helpers.
  contrib/tracekit/helpers.go
Due: Contributions

bump version to v0.18.32
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for workflow and activity state management
  flow/activity.go
  flow/activity_context.go
  flow/signal.go
  flow/workflow.go
  flow/workflow_channel.go
  flow/workflow_context.go
  flow/workflow_selector.go
Due: none

bump version to v0.18.33
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to v0.18.33
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Add GetWorkflow and Signal methods to SDK
  flow/workflow.go
Due: none

bump version to v0.18.34
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add ParentClosePolicy support to workflow options
  flow/workflow.go
Due: none

bump version to v0.18.35
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add error handling for workflow cancellation and utility
  flow/utils.go
  flow/workflow.go
Due: none

bump version to v0.18.36
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add RetryPolicy support to workflow scheduling
  flow/scheduler.go
Due: none

bump version to v0.18.37
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Use ExecuteLocalActivity instead of ExecuteActivity
  flow/activity.go
Due: none

bump version to v0.18.38
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update dependencies and add Go method to WorkflowContext
  contrib/go.sum
  flow/workflow_context.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.39
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for customizable API documentation UI
  rony/server.go
  rony/server_options.go
Due: Framework

Refactor error handling to use structured error package
  boxship/.golangci.yml
  contrib/go.sum
  example/ex-05-counter/main.go
  example/ex-06-counter-stream/main.go
  kit/.golangci.yml
  kit/edge.go
  rony/.golangci.yml
  rony/error.go
  rony/errs/builder.go
  rony/errs/codes.go
  rony/errs/details.go
  rony/errs/errmarshalling/fallback.go
  rony/errs/errmarshalling/jsonextention.go
  rony/errs/errmarshalling/marshal.go
  rony/errs/error.go
  rony/errs/error_internal.go
  rony/go.mod
  rony/go.sum
  std/clusters/rediscluster/.golangci.yml
  std/gateways/fasthttp/.golangci.yml
  std/gateways/fastws/.golangci.yml
  std/gateways/silverhttp/.golangci.yml
  stub/.golangci.yml
Due: Framework, Standard Libraries, Contributions

Refactor error handling to use `errs.Convert` for consistency
  rony/errs/error.go
  rony/setup_stream.go
  rony/setup_unary.go
Due: Framework

bump version to v0.19.0
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor unary options and middleware handling.
  contrib/go.sum
  rony/go.sum
  rony/internal/options/unary/options.go
  rony/setup.go
  rony/setup_middleware.go
  rony/setup_unary.go
Due: Framework, Contributions

Refactor stream configuration to remove internal package dependency
  rony/internal/options/stream/options.go
  rony/setup_stream.go
Due: Framework

bump version to v0.19.1
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to version 0.19.1
  contrib/go.sum
Due: Contributions

Refactor UnaryOption to simplify generics usage
  rony/go.sum
  rony/setup.go
  rony/setup_unary.go
Due: Framework

bump version to v0.19.2
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add rate limiting utilities with Redis Lua scripts
  util/ratelimit/LICENSE
  util/ratelimit/lua.go
  util/ratelimit/lua/allow_atmost_n.lua
  util/ratelimit/lua/allow_n.lua
  util/ratelimit/ratelimit.go
Due: none

Refactor DTO handling and improve TypeScript stub generation.
  example/ex-04-stubgen/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  example/ex-04-stubgen/stub/sampleservicets/swr.hooks.ts
  kit/desc/parser.go
  stub/internal/tpl/go/stub.gotmpl
  stub/stubgen/input.go
Due: Framework

bump version to v0.19.3
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add time.Time import handling and bump ronykit to v0.19.3
  contrib/go.sum
  example/ex-04-stubgen/stub/sampleservice/stub.go
  rony/go.sum
  stub/internal/tpl/go/stub.gotmpl
Due: Framework, Contributions

bump version to v0.19.4
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  scripts/update-version.sh
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit to v0.19.4 and enhance unary setup
  contrib/go.sum
  rony/errs/errmarshalling/fallback.go
  rony/go.sum
  rony/setup_unary.go
Due: Framework, Contributions

bump version to v0.19.5
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor TypeScript stub template for improved readability
  stub/internal/tpl/ts/stub.tstmpl
Due: Framework

bump version to v0.19.6
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update error handling and server configuration
  example/ex-08-echo/echo.http
  example/ex-08-echo/main.go
  rony/errs/builder.go
  rony/errs/error.go
  rony/errs/error_internal.go
  stub/error.go
  stub/internal/tpl/ts/stub.tstmpl
Due: Framework
