Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

bump version to v0.18.1
  async/go.mod
  async/go.sum
  contrib/go.mod
  kit/README.MD
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update buffer size constant and dependencies
  contrib/go.sum
  kit/bridge_south.go
  kit/envelope.go
  kit/message.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.2
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for reading uncompressed response bodies
  contrib/go.sum
  rony/go.sum
  stub/stub_rest.go
Due: Framework, Contributions

bump version to v0.18.3
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add kv map initialization and update ronykit to v0.18.3
  contrib/go.sum
  kit/ctx_testkit.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.4
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Improve handling of optional and nullable fields in stubs.
  contrib/go.sum
  example/ex-04-stubgen/dto/msg.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  kit/desc/parser.go
  rony/go.sum
  stub/internal/tpl/ts/stub.tstmpl
Due: Framework, Contributions

bump version to v0.18.5
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to v0.18.5
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Filter out null values in query parameter generation
  stub/internal/tpl/ts/stub.tstmpl
Due: Framework

bump version to v0.18.6
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to version 0.18.6
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.7
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  stub/internal/tpl/ts/stub.tstmpl
Due: Framework, Standard Libraries, Contributions

Implement context value handling and update dependencies
  example/ex-09-mw/go.mod
  example/ex-09-mw/go.sum
  example/ex-09-mw/main.go
  go.work
  kit/ctx.go
  kit/ctx_kv.go
Due: Framework

bump version to v0.18.8
  async/go.mod
  async/go.sum
  contrib/go.mod
  contrib/go.sum
  iq/concat.go
  iq/distinct.go
  iq/go.mod
  iq/query.go
  iq/util.go
  kit/ctx_kv.go
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.18.9
  async/go.mod
  async/go.sum
  contrib/go.mod
  contrib/go.sum
  example/ex-09-mw/go.mod
  example/ex-09-mw/go.sum
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update dependencies to latest versions
  contrib/go.mod
  contrib/go.sum
  kit/go.mod
  kit/go.sum
  rony/go.mod
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.10
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update dependencies and toolchain version
  contrib/go.mod
  contrib/go.sum
  rony/go.mod
  rony/go.sum
Due: Framework, Contributions

Add support for handling and propagating status codes.
  kit/bridge_south.go
  kit/envelope_carrier.go
Due: Framework

bump version to v0.18.11
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update error handling, message serialization, and dependencies
  contrib/go.sum
  example/ex-03-cluster/cmd/server/main.go
  example/ex-03-cluster/cmd/server/service.go
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-03-cluster/requests.http
  kit/bridge_south.go
  kit/envelope_carrier.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.12
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to v0.18.12
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Add tests, refactor test utilities, and improve docs
  .fleet/settings.json
  README.MD
  contrib/.golangci.yml
  contrib/swagger/swagger.go
  docs/benchmark.png
  example/ex-01-rpc/cmd/server/service_test.go
  example/ex-01-rpc/go.mod
  kit/.golangci.yml
  kit/ctx_testkit.go
  rony/.golangci.yml
  rony/server_options.go
  ronyup/.golangci.yml
  std/clusters/rediscluster/.golangci.yml
  std/gateways/fasthttp/.golangci.yml
  std/gateways/fastws/.golangci.yml
  std/gateways/silverhttp/.golangci.yml
  stub/.golangci.yml
  testenv/.golangci.yml
Due: Framework, Standard Libraries, Contributions

bump version to v0.18.13
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

**Add initial Go module files for the flow package**
  flow/activity.go
  flow/activity_context.go
  flow/attribute.go
  flow/error.go
  flow/go.mod
  flow/go.sum
  flow/history_event.go
  flow/init.go
  flow/scheduler.go
  flow/sdk.go
  flow/type_alias.go
  flow/workflow.go
  flow/workflow_channel.go
  flow/workflow_context.go
  flow/workflow_filter.go
  flow/workflow_filter_test.go
  flow/workflow_future.go
  flow/workflow_selector.go
  flow/workflow_waitgroup.go
  go.work
  kit/utils/generic.go
Due: Framework

Remove async package and related files
  async/README.MD
  async/backend.go
  async/context.go
  async/engine.go
  async/engine_options.go
  async/errors.go
  async/go.mod
  async/go.sum
  async/internal/dummybackend/backend.go
  async/queue.go
  async/task.go
Due: none

Remove unused flow initialization and update dependencies
  contrib/go.sum
  flow/init.go
  flow/sdk.go
  go.work
  rony/go.sum
  scripts/cleanup.sh
Due: Framework, Contributions

Add initialization factories and update dependencies
  flow/activity.go
  flow/go.mod
  flow/go.sum
  flow/sdk.go
  flow/workflow.go
  go.work
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  testenv/flow_test.go
  testenv/go.mod
  testenv/go.sum
Due: Framework, Standard Libraries

Remove async example and update ronykit dependencies
  contrib/go.mod
  example/ex-01-rpc/go.mod
  example/ex-10-async/go.mod
  example/ex-10-async/go.sum
  example/ex-10-async/main.go
  go.work
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.18.16
  contrib/go.mod
  example/ex-01-rpc/go.sum
  rony/go.mod
  scripts/update-version.sh
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to v0.18.16
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  flow/sdk.go
  rony/go.sum
  scripts/cleanup.sh
Due: Framework, Contributions

Remove `go.sum` file from version control
  flow/go.mod
  flow/go.sum
  go.work
  scripts/cleanup.sh
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  testenv/base.go
  testenv/flow_test.go
  testenv/go.mod
  testenv/go.sum
Due: Framework, Standard Libraries

bump version to v0.18.17
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to version v0.18.17
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  rony/go.sum
  testenv/go.mod
Due: Framework, Contributions

Add go.sum file for dependency management in testenv
  go.work
  scripts/cleanup.sh
  testenv/flow_test.go
  testenv/go.mod
  testenv/go.sum
  testenv/services/key_value.go
Due: Framework

Enable `flow` module and update Go toolchain version
  flow/go.mod
  go.work
Due: none

bump version to v0.18.18
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  scripts/update-version.sh
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions
