Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

Remove `.golangci.yml` files, improve error handling with `errors.As`/`errors.Is`, optimize loops and context usage, update `Makefile`, and enhance code clarity with minor refactors.
  .golangci.yml
  Makefile
  flow/activity_context.go
  flow/sdk.go
  flow/workflow_selector.go
  kit/.golangci.yml
  kit/bridge_south.go
  kit/common/std_logger.go
  kit/ctx.go
  kit/desc/parser.go
  kit/edge.go
  kit/edge_test.go
  kit/utils/convert.go
  kit/utils/file.go
  kit/utils/reflector/reflector.go
  kit/utils/reflector/reflector_test.go
  kit/utils/singleflight.go
  kit/utils/srl/srl.go
  kit/utils/transform.go
  ronyup/cmd/text/text.go
  std/clusters/rediscluster/.golangci.yml
  std/gateways/fasthttp/.golangci.yml
  std/gateways/fasthttp/proxy/channelpool.go
  std/gateways/fasthttp/proxy/ws_reverseproxy.go
  std/gateways/fastws/.golangci.yml
  std/gateways/silverhttp/.golangci.yml
  stub/stubgen/gen_test.go
  testenv/.golangci.yml
  testenv/base.go
  testenv/services/echo.go
  testenv/services/key_value.go
  x/apidoc/swagger_test.go
Due: Framework, Standard Libraries

Refactor `Makefile` test logic for better modularity, update error handling in `rony/errs`, simplify reflector logic, and remove obsolete test cases.
  Makefile
  kit/edge_test.go
  kit/utils/reflector/reflector.go
  rony/errs/error.go
Due: Framework

Refactor `util` usage by migrating to `x/rkit`, update all references, and sync `go.mod` and `go.sum` dependencies.
  x/testkit/go.mod
  x/testkit/go.sum
  x/testkit/testenv.go
  x/testkit/utils.go
Due: none

Remove obsolete `cleanup.sh` and `run-test.sh` scripts, add `bump-workspace.sh` for module versioning, and update `Makefile` to streamline workspace management.
  Makefile
  scripts/bump-workspace.sh
  scripts/cleanup.sh
  scripts/run-test.sh
Due: none

Remove `scripts/update-version.sh`, replace with `bump-workspace.sh`, and update `Makefile` for streamlined version bumping.
  Makefile
  scripts/update-version.sh
Due: none

bump workspace requires (minor)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (minor)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

Defer `go mod tidy` until after tags are pushed and normalize tag prefixes to avoid leading './'
  scripts/bump-workspace.sh
Due: none

Add `tidy` target to `Makefile` and update `go.mod` dependencies across modules for consistency and modularity.
  Makefile
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
Due: none

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/cache/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/cache/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

bump workspace requires and dependencies (minor)
  example/ex-01-rpc/cmd/server/main.go
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  example/ex-02-rest/go.mod
  example/ex-02-rest/go.sum
  example/ex-03-cluster/cmd/server/main.go
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-04-stubgen/go.mod
  example/ex-04-stubgen/go.sum
  example/ex-05-counter/go.mod
  example/ex-05-counter/go.sum
  example/ex-06-counter-stream/go.mod
  example/ex-06-counter-stream/go.sum
  example/ex-08-echo/go.mod
  example/ex-08-echo/go.sum
  example/ex-09-mw/go.mod
  example/ex-09-mw/go.sum
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
Due: none

bump dependencies and Go version across workspace (minor)
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries

extend `ActivityRawFunc` with a no-result variant and add `ToActivityFactoryNoResult` helper function
  flow/activity.go
Due: none

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/cache/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

refactor: migrate batch and pool utilities to `x` package and add `BytesPool` implementation
  rony/setup_unary.go
  x/batch/batcher.go
  x/batch/batcher_test.go
  x/batch/entry.go
  x/batch/export_test.go
  x/batch/option.go
  x/p/bytes.go
  x/p/timer.go
  x/p/waitgroup.go
Due: Framework

add `x/p` module to workspace and update `go.work`
  go.work
  x/p/go.mod
Due: none

migrate `batch` module to `x` package and update dependencies
  flow/go.sum
  go.work
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/cluster.go
  x/batch/batcher.go
  x/batch/batcher_test.go
  x/batch/go.mod
  x/batch/go.sum
Due: Framework, Standard Libraries

bump workspace requires (minor)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (minor)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

add heartbeat support to `ActivityContext` and `Activity` configuration
  flow/activity.go
  flow/activity_context.go
Due: none

add telemetry support using `tracekit` and `tricks` utilities, update dependencies
  flow/activity.go
  flow/go.mod
  flow/go.sum
Due: none

refactor: replace type assertion methods, simplify slice operations, and migrate to `slices` and `maps` utilities
  flow/activity.go
  flow/activity_context.go
  kit/ctx.go
  kit/ctx_limited.go
  kit/desc/parser.go
  kit/envelope.go
  kit/utils/array.go
  kit/utils/buf/bytes.go
  kit/utils/convert.go
  kit/utils/generic.go
  kit/utils/random.go
  rony/errs/errmarshalling/jsonextention.go
  rony/errs/errmarshalling/marshal.go
  rony/setup.go
  rony/setup_stream.go
  rony/setup_unary.go
  ronyup/cmd/text/text.go
  std/gateways/fasthttp/internal/realip/realip.go
  std/gateways/fasthttp/proxy/logger.go
  std/gateways/fasthttp/selector.go
  std/gateways/silverhttp/httpmux/router.go
  std/gateways/silverhttp/selector.go
  stub/internal/tpl/util.go
  testenv/base.go
  x/apidoc/swagger.go
  x/p/bytes.go
  x/rkit/array.go
  x/rkit/random.go
  x/rkit/type_numeric.go
  x/telemetry/logkit/array_encoder.go
  x/telemetry/logkit/field.go
  x/telemetry/logkit/log_zap.go
  x/telemetry/tracekit/helpers.go
  x/telemetry/tracekit/trace.go
Due: Framework, Standard Libraries

refactor: clean up unused code and reformat flag definition for better readability
  kit/desc/message.go
  ronyup/cmd/setup/setup.go
Due: Framework

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

bump `klauspost/compress` to v1.18.2 (patch)
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  example/ex-02-rest/go.mod
  example/ex-02-rest/go.sum
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-04-stubgen/go.mod
  example/ex-04-stubgen/go.sum
  example/ex-05-counter/go.mod
  example/ex-05-counter/go.sum
  example/ex-06-counter-stream/go.mod
  example/ex-06-counter-stream/go.sum
  example/ex-08-echo/go.mod
  example/ex-08-echo/go.sum
  example/ex-09-mw/go.mod
  example/ex-09-mw/go.sum
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
  flow/go.mod
  flow/go.sum
  kit/desc/parser.go
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/silverhttp/realip/realip.go
  stub/go.mod
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/batch/go.mod
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

bump workspace dependencies (patch)
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
Due: Standard Libraries

bump workspace dependencies (patch)
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  testenv/go.mod
  testenv/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
  x/ratelimit/go.mod
  x/ratelimit/go.sum
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Standard Libraries

refactor: clean up unused code, improve error handling, and update method implementations
  flow/backend.go
  flow/data_converter.go
  rony/errs/error.go
  rony/types.go
  std/gateways/fasthttp/cors.go
  std/gateways/fasthttp/decoder.go
  std/gateways/fasthttp/proxy/logger.go
  std/gateways/fasthttp/proxy/reverseproxy.go
  x/settings/settings.go
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/telemetry/go.sum
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Standard Libraries

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Contributions: any of: contrib/**
