Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

refactor: update field path delimiter from `.` to `_` for consistency
  x/settings/settings.go
Due: none

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

refactor: move field path generation to earlier stage and update delimiter to `.` for consistency
  x/settings/settings.go
Due: none

refactor: enhance Prometheus exporter with path, port config, and custom meter name support
  x/telemetry/meterkit/exporter.go
  x/telemetry/meterkit/exporter_option.go
Due: none

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

refactor: add shutdown logic and global registration for MeterProvider in Exporter
  x/telemetry/meterkit/exporter.go
  x/telemetry/meterkit/exporter_option.go
Due: none

refactor: use dedicated ServeMux for Prometheus exporter to improve routing clarity
  x/telemetry/meterkit/exporter_option.go
Due: none

update dependencies: introduce `context.Context` usage in command executions and upgrade Ginkgo to v2.27.5, Gomega to v1.39.0
  flow/backend.go
  flow/go.sum
  kit/edge.go
  kit/edge_test.go
  kit/go.sum
  rony/go.sum
  ronyup/cmd/setup/setup.go
  ronyup/internal/z/cmd.go
  std/clusters/p2pcluster/cluster.go
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/bundle.go
  std/gateways/fasthttp/go.sum
  std/gateways/fasthttp/proxy/logger.go
  std/gateways/fasthttp/proxy/reverseproxy.go
  std/gateways/fasthttp/proxy/ws_reverseproxy.go
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/bundle.go
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/base.go
  testenv/go.mod
  testenv/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/adapter.go
  x/datasource/go.mod
  x/datasource/go.sum
  x/settings/settings.go
  x/telemetry/go.sum
  x/testkit/go.sum
  x/testkit/module.go
  x/testkit/testenv.go
Due: Framework, Standard Libraries

bump dependencies: update `golang.org/x/text` to v0.33.0
  flow/go.sum
  kit/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/settings/go.sum
  x/telemetry/go.sum
Due: Framework, Standard Libraries

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

remove `boxship-release` GitHub Action workflow and add `github-release` target to Makefile
  .github/workflows/boxship-release.yaml
  Makefile
Due: none

bump dependencies: add `github.com/Masterminds/sprig/v3` and other modules, update templates to utilize `sprig.FuncMap`
  ronyup/cmd/text/text.go
  ronyup/internal/z/copy.go
  stub/go.mod
  stub/go.sum
  stub/internal/tpl/tpl.go
Due: Framework

remove `gateway` template: delete skeleton files related to the `gateway` template and update the code to align with the new `workspace` structure
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/gateway/Makefiletmpl
  ronyup/internal/skeleton/gateway/api/service.gotmpl
  ronyup/internal/skeleton/gateway/gen/stub/gen.gotmpl
  ronyup/internal/skeleton/gateway/internal/app/app.gotmpl
  ronyup/internal/skeleton/gateway/internal/settings/config.local.yamltmpl
  ronyup/internal/skeleton/gateway/internal/settings/const.gotmpl
  ronyup/internal/skeleton/gateway/internal/settings/settings.gotmpl
  ronyup/internal/skeleton/gateway/module.gotmpl
  ronyup/internal/skeleton/gateway/service.gotmpl
  ronyup/internal/skeleton/service/Makefiletmpl
  ronyup/internal/skeleton/service/module.gotmpl
  ronyup/internal/skeleton/workspace/feature/README.MD
  ronyup/internal/skeleton/workspace/go.work
  x/rkit/generic.go
Due: none

add `workspace` and `service` setup commands: refactor workspace structure, update templates, and introduce support for `i18n`
  ronyup/cmd/setup/setup.go
  ronyup/go.mod
  ronyup/go.sum
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl.go
  ronyup/internal/skeleton/workspace/feature/README.MD
  ronyup/internal/skeleton/workspace/go.work
  ronyup/internal/skeleton/workspace/pkg/i18n/README.MD
Due: none

rename `service` to `feature` in skeleton templates and setup commands: align code, templates, and directory structure to support new `feature` terminology; refactor and improve `setup` commands
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/feature/service/Makefiletmpl
  ronyup/internal/skeleton/feature/service/README.MD
  ronyup/internal/skeleton/feature/service/api/service.gotmpl
  ronyup/internal/skeleton/feature/service/gen/stub/gen.gotmpl
  ronyup/internal/skeleton/feature/service/internal/app/app.gotmpl
  ronyup/internal/skeleton/feature/service/internal/domain/doc.go
  ronyup/internal/skeleton/feature/service/internal/repo/integration_test/setup_test.gotmpl
  ronyup/internal/skeleton/feature/service/internal/repo/port.go
  ronyup/internal/skeleton/feature/service/internal/repo/v0/adapter.gotmpl
  ronyup/internal/skeleton/feature/service/internal/repo/v0/data/db/migrations/001_init.up.sql
  ronyup/internal/skeleton/feature/service/internal/repo/v0/data/db/queries/queries.sql
  ronyup/internal/skeleton/feature/service/internal/repo/v0/sqlc.ymltmpl
  ronyup/internal/skeleton/feature/service/internal/settings/config.local.yamltmpl
  ronyup/internal/skeleton/feature/service/internal/settings/const.gotmpl
  ronyup/internal/skeleton/feature/service/internal/settings/settings.gotmpl
  ronyup/internal/skeleton/feature/service/migration.gotmpl
  ronyup/internal/skeleton/feature/service/module.gotmpl
  ronyup/internal/skeleton/feature/service/service.gotmpl
  ronyup/internal/skeleton/workspace/feature/README.MD
  ronyup/internal/z/copy.go
  x/rkit/file.go
Due: none

replace custom logkit implementation with OpenTelemetry logging: integrate `otelzap`, introduce new exporters, and configure logging to use OpenTelemetry
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/telemetry/logkit/array_encoder.go
  x/telemetry/logkit/config.go
  x/telemetry/logkit/exporter.go
  x/telemetry/logkit/exporter_options.go
  x/telemetry/logkit/field.go
  x/telemetry/logkit/log_sugar.go
  x/telemetry/logkit/log_zap.go
  x/telemetry/logkit/otel.go
Due: none

add service middleware and dependency injection framework: implement middleware for health checks, error recovery, and tracing; introduce dependency injection helpers and modular service configuration
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/feature/service/module.gotmpl
  ronyup/internal/skeleton/feature/service/service.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/healthz.go
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl.go
  ronyup/internal/skeleton/workspace/cmd/service/middleware.go
  ronyup/internal/skeleton/workspace/pkg/di/datasource.go
  ronyup/internal/skeleton/workspace/pkg/di/di.go
  ronyup/internal/skeleton/workspace/pkg/di/stub.go
  x/rkit/transform.go
Due: none

refactor middleware and setup logic: update DI framework integration, enhance `RunCmd` to support environment variables, streamline module initialization in setup commands
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/workspace/cmd/service/di/datasource.go
  ronyup/internal/skeleton/workspace/cmd/service/di/di.go
  ronyup/internal/skeleton/workspace/cmd/service/di/stub.go
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/middleware.gotmpl
  ronyup/internal/z/cmd.go
Due: none

update middleware registration: allow batch registration of multiple middleware functions
  ronyup/internal/skeleton/workspace/cmd/service/di/di.go
Due: none

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

add retry logic to `rootCmd.Execute` and placeholder i18n setup in service template
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
Due: none

add retry logic to `rootCmd.Execute` and placeholder i18n setup in service template
  rony/di/datasource.go
  rony/di/service.go
  rony/di/stub.go
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  ronyup/internal/skeleton/feature/service/service.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/middleware.gotmpl
Due: Framework

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

update service template: replace `di` import with RonyKit dependency injection package and update logging import path
  ronyup/internal/skeleton/feature/service/internal/app/app.gotmpl
  ronyup/internal/skeleton/feature/service/module.gotmpl
Due: none
