Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

Update ronykit dependencies to version v0.18.18
  contrib/go.sum
  rony/go.sum
  testenv/go.mod
  testenv/go.sum
Due: Framework, Contributions

Update Go versions and dependencies across modules
  go.work
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
Due: Standard Libraries

Refactor workflows and test environment setup.
  flow/workflow_channel.go
  go.work
  testenv/base.go
  testenv/flow_test.go
  testenv/go.mod
Due: Framework

Add new channel types, update dependencies, and README
  README.MD
  docs/architect.png
  flow/workflow_channel.go
  iq/distinct.go
  stub/go.mod
  stub/go.sum
Due: Framework

Add lifecycle diagram to documentation
  README.MD
  docs/lifecycle.png
Due: none

Remove lifecycle diagram from README and repository
  README.MD
  docs/architect.png
  docs/lifecycle.png
Due: none

Add setter methods to Error struct
  stub/error.go
Due: Framework

bump version to v0.18.19
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for raw messages, enhanced TS templates, and bug fixes
  contrib/go.sum
  kit/ctx_testkit.go
  kit/desc/parser.go
  kit/desc/parser_test.go
  rony/.golangci.yml
  rony/go.mod
  rony/go.sum
  rony/setup.go
  rony/setup_unary.go
  rony/stub.go
  std/clusters/rediscluster/cluster.go
  stub/internal/tpl/go/stub.gotmpl
  stub/internal/tpl/tpl.go
  stub/internal/tpl/ts/stub.tstmpl
  stub/internal/tpl/ts/swr.hooks.tstmpl
  stub/internal/tpl/util.go
Due: Framework, Standard Libraries, Contributions

Add type aliases for simplified context usage
  rony/context.go
  std/gateways/silverhttp/decoder.go
Due: Framework, Standard Libraries

Remove unused testcontainers logging configuration
  boxship/boxship.go
Due: none

Update README and workflow for Boxship installation and release
  .github/workflows/boxship-release.yaml
  boxship/README.MD
Due: none

Refactor and fix typos in comments, remove unused variable
  kit/bridge_south.go
  kit/ctx.go
Due: Framework

Remove `iq` package and update dependencies
  boxship/.golangci.yml
  contrib/go.mod
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  go.work
  iq/concat.go
  iq/distinct.go
  iq/go.mod
  iq/query.go
  iq/util.go
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/.golangci.yml
  stub/go.mod
  stub/go.sum
  testenv/go.mod
Due: Framework, Standard Libraries, Contributions

bump version to v0.18.20
  Zig.iml
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.18.21
  boxship/go.mod
  boxship/go.sum
  contrib/go.mod
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update dependencies across projects
  boxship/go.sum
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Update Redoc standalone file to the latest version
  contrib/swagger/internal/redoc-ui/redoc.standalone.js
Due: Contributions

Add logic to identify and retrieve builtin package paths
  stub/stubgen/input.go
Due: Framework

bump version to v0.18.22
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to version v0.18.22
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Refine comments for clarity and grammar in workflow code
  flow/scheduler.go
  flow/workflow.go
  flow/workflow_channel.go
  flow/workflow_selector.go
Due: none

Add Trigger method and ParentClosePolicy support
  flow/scheduler.go
  flow/workflow.go
Due: none

bump version to v0.18.23
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add WorkflowIDPrefix to ScheduleAction and update dependencies
  flow/go.mod
  flow/go.sum
  flow/scheduler.go
Due: none

bump version to v0.18.24
  contrib/go.mod
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor and extend DTOs with time fields and improve null checks
  example/ex-04-stubgen/dto/msg.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  stub/stubgen/input.go
Due: Framework

bump version to v0.18.25
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.18.26
  contrib/go.mod
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to v0.18.26
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.27
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  stub/stubgen/input.go
Due: Framework, Standard Libraries, Contributions

Switch from SwaggerUI to ReDocUI in server initialization
  rony/server.go
Due: Framework

bump version to v0.18.28
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to version 0.18.28
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Add TraceKit exporter module for OpenTelemetry integration
  contrib/.golangci.yml
  contrib/go.mod
  contrib/go.sum
  contrib/tracekit/exporter.go
  contrib/tracekit/exporter_options.go
Due: Contributions

bump version to v0.18.29
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor tracing helpers and update dependencies
  contrib/go.sum
  contrib/tracekit/exporter.go
  contrib/tracekit/helpers.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.18.30
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Contributions: any of: contrib/**
