Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

add Echo API handler to service template and remove unused fx options in workspace template
  ronyup/internal/skeleton/feature/service/api/service.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
Due: none

add feature import wiring in workspace setup: initialize Git repository, support dynamic feature imports
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/workspace/cmd/service/features.go
Due: none

bump module dependencies: update `cast` to v1.10.0, `mapstructure` to v2.5.0, and `go-ansiterm` to latest version
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  stub/go.mod
  stub/go.sum
  x/settings/go.mod
  x/settings/go.sum
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

refactor service registration: support multiple services per kind and middleware per service
  rony/di/service.go
Due: Framework

refactor service generation: add dynamic config filename and search path helpers, update init function handling
  rony/di/service.go
Due: Framework

minor formatting: add missing newline for improved code readability
  rony/di/service.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/text/text.go
  ronyup/internal/z/cmd.go
  testenv/base.go
Due: Framework

add `x/di` module with dependencies and go version
  go.work
  kit/desc/parser.go
  rony/go.mod
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/middleware.gotmpl
  x/di/datasource.go
  x/di/go.mod
  x/di/go.sum
  x/di/service.go
  x/di/stub.go
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/telemetry/logkit/log_zap.go
Due: Framework

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

minor import reordering in middleware template to fix grouping
  ronyup/internal/skeleton/workspace/cmd/service/middleware.gotmpl
Due: none

bump workspace requires (patch)
  flow/go.mod
  flow/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
Due: none

add interactive mode for `setup` and `text` commands
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/text/interactive.go
  ronyup/cmd/text/text.go
  ronyup/go.mod
  ronyup/go.sum
Due: none

refactor `setup` and `text` commands: streamline execution, improve interactivity, and remove unused flags
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/text/interactive.go
  ronyup/cmd/text/text.go
Due: none

add `template` command with Go package parsing and generation capabilities
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/template/gosource.go
  ronyup/cmd/template/template.go
  ronyup/cmd/text/interactive.go
  ronyup/cmd/text/text.go
  ronyup/internal/z/packages.go
  ronyup/main.go
Due: none

update `template` command: add DAO/DTO/repo boilerplates, enhance Go package parsing with utility methods
  ronyup/cmd/template/gosource.go
  ronyup/cmd/template/template.go
  ronyup/internal/skeleton/boilerplate/dao.gotmpl
  ronyup/internal/skeleton/boilerplate/dto.gotmpl
  ronyup/internal/skeleton/boilerplate/repo.gotmpl
Due: none

refactor: enhance Go package parsing utility methods with improved readability and formatting adjustments
  kit/desc/parser.go
  ronyup/cmd/template/gosource.go
  ronyup/cmd/text/interactive.go
Due: Framework

add `DisconnectedContext` method to `WorkflowContext` for creating isolated workflow contexts
  flow/workflow_context.go
Due: none

refactor: enhance interactivity, optimize memory allocation, and add contextual lint suppressions across commands and utilities
  .golangci.yml
  kit/edge.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/template/gosource.go
  ronyup/cmd/text/interactive.go
  ronyup/cmd/text/text.go
  ronyup/internal/skeleton/workspace/cmd/service/healthz.go
  testenv/base.go
Due: Framework

refactor: simplify service registration with structured params via RegisterServiceParams
  x/di/service.go
Due: none

refactor: centralize failure mapping logic with `failureToMap`, enhance payload structure handling in workflow events
  flow/workflow.go
Due: none

add support for `map[string]any` in parser and tests, update dependencies (e.g., Temporal, OpenTelemetry, gRPC)
  flow/go.mod
  flow/go.sum
  kit/desc/parser.go
  kit/desc/parser_test.go
  x/apidoc/swagger_test.go
  x/telemetry/go.mod
  x/telemetry/go.sum
Due: Framework

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

refactor: modularize command handlers, unify path placeholders, and improve workspace setup logic
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/text/interactive.go
  ronyup/cmd/text/text.go
  ronyup/internal/skeleton/boilerplate/dao.gotmpl
  ronyup/internal/skeleton/feature/service/module.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/healthz.go
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/middleware.gotmpl
Due: none

refactor: adjust import paths for consistency and remove redundant blank lines in templates
  ronyup/internal/skeleton/feature/service/service.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
Due: none

refactor: enhance service registration params, improve swagger handling, and simplify service startup logs
  ronyup/internal/skeleton/feature/service/service.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  x/apidoc/swagger.go
  x/apidoc/swagger_test.go
Due: none

bump dependencies: remove unused modules across `ronyup` and `kit`, update `go.mod` and `go.sum` files
  kit/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/gateways/fasthttp/decoder.go
Due: Framework, Standard Libraries

add unit tests for string transform utilities and expand delimiter handling
  x/rkit/transform.go
  x/rkit/transform_test.go
Due: none
