Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

bump version to v0.21.10
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add test cases for handling name collisions across multiple packages in Swagger definitions.
  contrib/swagger/internal/testdata/a/dto.go
  contrib/swagger/internal/testdata/b/dto.go
  contrib/swagger/swagger_test.go
  go.work
Due: Contributions

Introduce `SetDefaultError` in `Contract` and propagate its handling across modules.
  contrib/swagger/swagger.go
  example/ex-04-stubgen/api/service.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  kit/desc/contract.go
  kit/desc/parser.go
  stub/internal/tpl/go/stub.gotmpl
  stub/stubgen/input.go
  testenv/stub_test.go
Due: Framework, Contributions

bump version to v0.21.11
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Propagate `DefaultError` handling in `Service` and `Contract` and introduce `SetDefaultError` method in `Service`.
  kit/desc/parser.go
  kit/desc/service.go
Due: Framework

Propagate `SetDefaultError` usage in `setup_unary` by integrating default error handling.
  rony/setup_unary.go
Due: Framework

bump version to v0.21.12
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Reorder `PossibleErrors` and `parseContract` logic in `Service` to ensure consistent default error propagation.
  kit/desc/parser.go
Due: Framework

bump version to v0.21.13
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.21.14
  kit/contract.go
  kit/desc/parser.go
  std/gateways/fasthttp/selector.go
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/fastws/selector.go
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  std/gateways/silverhttp/selector.go
Due: Framework, Standard Libraries

bump version to v0.21.14
  boxship/cmd/boxship/endpoint/cmd/run.go
  boxship/cmd/boxship/endpoint/cmd/setup-dns.go
  boxship/pkg/utils/cert.go
  contrib/go.mod
  contrib/go.sum
  contrib/meterkit/exporter_option.go
  contrib/tracekit/exporter.go
  flow/go.mod
  kit/desc/parser.go
  kit/utils/random.go
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  std/gateways/silverhttp/httpmux/tree.go
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.21.15
  contrib/go.mod
  example/ex-04-stubgen/dto/msg.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  stub/internal/tpl/go/stub.gotmpl
  testenv/services/echo.go
Due: Framework, Standard Libraries, Contributions

bump version to v0.22.0 and update dependencies
  contrib/go.mod
  contrib/go.sum
  contrib/swagger/swagger.go
  kit/desc/parser.go
  stub/stubgen/input.go
Due: Framework, Contributions

Propagate DTO struct enhancements for `swag` tag handling, refactor default error response logic, and update stub generation templates.
  contrib/swagger/swagger.go
  example/ex-02-rest/api/service.go
  example/ex-02-rest/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  kit/desc/message.go
  kit/desc/parser.go
  stub/internal/tpl/go/stub.gotmpl
Due: Framework, Contributions

bump version to v0.21.16
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Introduce input/output metadata options for unary and stream handlers.
  rony/setup_stream.go
  rony/setup_unary.go
Due: Framework

bump version to v0.21.17
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor `Error` struct to include `CodeName`, implement enhanced error marshalling logic, and add error support in `ParsedService`.
  kit/desc/parser.go
  kit/desc/parser_test.go
  rony/errs/codes.go
  rony/errs/error.go
  rony/errs/error_internal.go
  stub/error.go
Due: Framework

bump version to v0.21.18
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Enhance DTO struct with `swag` tag support, add enum handling for `Key1Ptr`, and update stub generation logic accordingly.
  example/ex-04-stubgen/api/service.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  kit/desc/message.go
Due: Framework

Refactor error handling to simplify status code setting with `errs.HTTPStatus` and adjust `Error` struct to use `ErrCode`.
  rony/errs/error.go
  rony/setup_unary.go
Due: Framework

bump version to v0.21.19
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.21.20
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  flow/workflow.go
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add `AttrKeyword` helper for single keyword search attribute
  flow/attribute.go
Due: none

bump version to v0.21.21
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump dependencies and add Swagger documentation generation methods
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  rony/server.go
Due: Framework

bump version to v0.21.22
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for workflow history retrieval and payload transformation
  flow/backend.go
  flow/codecserver/service.go
  flow/go.mod
  flow/go.sum
  flow/workflow.go
  testenv/flow_test.go
  util/transform.go
Due: Framework

bump version to v0.21.23
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.21.24
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  scripts/update-version.sh
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Remove explicit `Namespace` field from `GetWorkflowHistoryRequest` and update SDK to use default namespace
  contrib/go.sum
  flow/workflow.go
  kit/desc/message.go
  rony/go.sum
  testenv/flow_test.go
Due: Framework, Contributions

bump version to v0.21.25
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.21.25 and update dependencies
  kit/go.mod
  kit/go.sum
  rony/go.sum
  ronyup/internal/skeleton/gateway/api/service.gotmpl
  ronyup/internal/skeleton/gateway/gen/stub/gen.gotmpl
  ronyup/internal/skeleton/gateway/internal/app/app.gotmpl
  ronyup/internal/skeleton/gateway/internal/settings/settings.gotmpl
  ronyup/internal/skeleton/gateway/module.gotmpl
  ronyup/internal/skeleton/gateway/service.gotmpl
  ronyup/internal/skeleton/service/api/service.gotmpl
  ronyup/internal/skeleton/service/gen/stub/gen.gotmpl
  ronyup/internal/skeleton/service/internal/app/app.gotmpl
  ronyup/internal/skeleton/service/internal/repo/integration_test/setup_test.gotmpl
  ronyup/internal/skeleton/service/internal/repo/v0/adapter.gotmpl
  ronyup/internal/skeleton/service/internal/settings/settings.gotmpl
  std/gateways/fasthttp/bundle.go
  std/gateways/fasthttp/options.go
Due: Framework, Standard Libraries

Refactor service templates to improve code formatting and structure consistency.
  ronyup/internal/skeleton/service/module.gotmpl
  ronyup/internal/skeleton/service/service.gotmpl
Due: none

Add project guidelines and comprehensive getting started guide, update README with references to new documentation.
  .junie/guidelines.md
  GETTING_STARTED.MD
  README.MD
Due: none

Add detailed Rony package guidelines for API services, including scaffolding, server setup, handlers, middleware, docs/stubs generation, and production checklist. Update `.junie/guidelines.md`.
  .junie/guidelines.md
Due: none

bump dependencies and update versions in `go.mod` and `go.sum` files
  boxship/go.mod
  boxship/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
Due: Standard Libraries

bump version to v0.21.26
  contrib/go.mod
  contrib/go.sum
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions
