Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Extended Libraries

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: extensions
      name: Extended Libraries
      paths:
        - x/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

bump workspace requires (patch)
  flow/go.mod
  intent/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/embedders/langchaingo/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  std/knowledge/chromem/go.mod
  std/knowledge/milvus/go.mod
  std/knowledge/static/go.mod
  std/llms/langchaingo/go.mod
  std/llms/ollama/go.mod
  std/mcpclients/gosdk/go.mod
  std/memories/inmem/go.mod
  std/memories/postgres/go.mod
  std/memories/sqlite/go.mod
  std/memories/sqlstore/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

downgrade `go-cmp` and `go-internal` dependencies for compatibility in `rony`
  rony/go.mod
  rony/go.sum
Due: Framework

add `table-partitioning` guide: strategy, granularity, maintenance, and SDD integration updates
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/cmd/mcp/knowledge/prompts/design-new-service.md
  ronyup/cmd/mcp/knowledge/prompts/write-sdd.md
  ronyup/cmd/mcp/knowledge/prompts/write-srs.md
  ronyup/cmd/mcp/knowledge/resources/architecture/postgres-sqlc.md
  ronyup/cmd/mcp/knowledge/resources/architecture/sdd-template.md
  ronyup/cmd/mcp/knowledge/resources/architecture/table-partitioning.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/database.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
Due: none

Clarify Homebrew 6+ tap trust requirements in installation guides
  README.MD
  docs/ronyup-guide.md
  ronyup/README.MD
Due: none

Add `TaskQueue` option to workflows, schedules, and activities with fallback to default via `rkit.Coalesce`
  flow/activity.go
  flow/scheduler.go
  flow/workflow.go
Due: none

bump Postgres image to 17-alpine in workspace template
  ronyup/internal/skeleton/workspace/devops/docker-compose.ymltmpl
Due: none

Enable code formatters (gci, gofmt, gofumpt, goimports) in GolangCI config with exclusions
  ronyup/internal/skeleton/workspace/.golangci.yml
Due: none

Mount `init.sql` in Postgres container for workspace template
  ronyup/internal/skeleton/workspace/devops/assets/init.sql
  ronyup/internal/skeleton/workspace/devops/docker-compose.ymltmpl
Due: none

migrate workspace structure to `backend/` split; move backend files, regenerate templates, and update configurations
  AGENTS.md
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/backend/.golangci.yml
  ronyup/internal/skeleton/backend/Makefile
  ronyup/internal/skeleton/backend/cmd/service/features.go
  ronyup/internal/skeleton/backend/cmd/service/healthz.gotmpl
  ronyup/internal/skeleton/backend/cmd/service/main.gotmpl
  ronyup/internal/skeleton/backend/cmd/service/middleware.gotmpl
  ronyup/internal/skeleton/backend/feature/README.MD
  ronyup/internal/skeleton/backend/pkg/i18n/README.MD
  ronyup/internal/skeleton/backend/verify.sh
Due: none

add terminal exporter: color-coded log formatting, TTY detection, and tests
  flow/go.mod
  flow/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/telemetry/logkit/exporter.go
  x/telemetry/logkit/exporter/terminal/color.go
  x/telemetry/logkit/exporter/terminal/color_test.go
  x/telemetry/logkit/exporter/terminal/exporter.go
  x/telemetry/logkit/exporter/terminal/exporter_test.go
  x/telemetry/logkit/exporter/terminal/format.go
  x/telemetry/logkit/exporter/terminal/format_test.go
  x/telemetry/logkit/exporter_options.go
  x/telemetry/logkit/exporter_test.go
Due: Extended Libraries

add `terminal-color` exporter: color-coded logs, update terminal options and examples
  example/ex-11-mcp/main.go
  x/telemetry/logkit/exporter.go
  x/telemetry/logkit/exporter/terminal/format.go
  x/telemetry/logkit/exporter_options.go
Due: Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.sum
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.mod
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

introduce `otelErrorCore`: enhanced OpenTelemetry logging with custom error handling and exception attributes
  x/telemetry/logkit/exporter/terminal/format.go
  x/telemetry/logkit/exporter/terminal/format_test.go
  x/telemetry/logkit/log_zap.go
  x/telemetry/logkit/otel_core.go
  x/telemetry/logkit/otel_core_test.go
  x/telemetry/logkit/terminal_error_test.go
Due: Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

update devbox configuration: switch default Vagrant box to `bento/ubuntu-24.04`, update scaffold and docs
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/Vagrantfiletmpl
  ronyup/internal/skeleton/workspace/devops/devbox/config.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/bootstrap.sh
Due: none

add `suspend` and `resume` commands: manage Vagrant VM state, update scripts, Makefile, and docs
  ronyup/internal/skeleton/backend/Makefile
  ronyup/internal/skeleton/workspace/devops/devbox/Makefile
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/kubeconfig.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/provision.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/resume.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/suspend.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/up.sh
Due: none

make devbox scripts executable, fix `wait-k8s.sh` invocation
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/bootstrap.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/install-services.sh
Due: none

add Helmfile sync scripts: manage service toggles in `config.yaml`
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/down.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/helmfile-apply.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/helmfile-destroy.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/install-services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/helmfile.yaml
Due: none

replace Helmfile with native Helm support: update scripts, Makefile, and docs
  ronyup/internal/skeleton/workspace/devops/devbox/Makefile
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/config.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/bootstrap.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/destroy.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/down.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/helmfile-apply.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/helmfile-destroy.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/install-services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/kubeconfig.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/provision.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/resolve-kubeconfig.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/resume.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/suspend.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/up.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/wait-k8s.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/services/helmfile.yaml
Due: none

update devbox: refine service defaults, enhance Temporal config, and improve Helm repo handling
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/bootstrap.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/helmfile-apply.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/grafana.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/postgres.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/redis.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/temporal.yaml
Due: none

add dynamic service exposure and DNS configuration for devbox: update scripts, enhance Vagrant mode integration, and refine documentation
  ronyup/internal/skeleton/workspace/devops/devbox/Makefile
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/Vagrantfiletmpl
  ronyup/internal/skeleton/workspace/devops/devbox/config.yamltmpl
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/apply-exposure.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/bootstrap.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/down.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/install-services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/provision.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/resume.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/sync-dns.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/up.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/services/exposure.yaml
Due: none

replace custom DNS sync with vagrant-dns: update scripts, Vagrantfile, and docs for simplified DNS management
  ronyup/internal/skeleton/workspace/devops/devbox/Makefile
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/Vagrantfiletmpl
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/bootstrap.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/dns.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/provision.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/resume.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/sync-dns.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/up.sh
Due: none

consolidate devbox cluster and service lifecycle scripts: replace individual scripts with `cluster.sh` and `services.sh`, update Makefile and docs
  ronyup/internal/skeleton/workspace/devops/devbox/Makefile
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/apply-exposure.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/bootstrap.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/cluster.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/destroy.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/dns.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/down.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/helmfile-apply.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/helmfile-destroy.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/install-services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/kubeconfig.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/provision.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/resolve-kubeconfig.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/resume.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/suspend.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/up.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/wait-k8s.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/README.md
Due: none

migrate Redis to DragonflyDB and PostgreSQL to CloudNativePG: update Helm charts, scripts, and documentation
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/config.yamltmpl
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/services/exposure.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/dragonfly.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/postgres.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/redis.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/temporal.yaml
Due: none

replace nginx ingress with Traefik: add TCP support via IngressRouteTCP, update scripts, Helm values, and docs
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/apply-exposure.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/provision.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/traefik.yaml
Due: none

update devbox exposure script: suppress deletion output, handle empty HTTP ingress rendering, and switch cluster mode to vagrant
  ronyup/internal/skeleton/workspace/devops/devbox/config.yamltmpl
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/apply-exposure.sh
Due: none

enhance Traefik config: improve low-port binding support, add pod security context settings
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/traefik.yaml
Due: none

refactor Traefik config: switch to hostPort, replace hostNetwork, update ports and pod strategy
  ronyup/internal/skeleton/workspace/devops/devbox/Vagrantfiletmpl
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/dns.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/traefik.yaml
Due: none

recover Traefik Helm lock: add script to handle interrupted installations and cleanup stale secrets
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/provision.sh
Due: none

update otel-collector config: change Jaeger endpoint to jaeger.devbox.svc.cluster.local
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/otel-collector.yaml
Due: none

implement REST path prefixing: add `WithBasePath` support for unary routes and enhance route path handling
  rony/setup.go
  rony/setup_unary.go
  rony/setup_unary_extra_test.go
  ronyup/cmd/setup/sync.go
Due: Framework

add RustFS support: integrate S3-compatible storage with Helm chart, update scripts, configs, and documentation
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/internal/skeleton/workspace/devops/devbox/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/config.yamltmpl
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/lib.sh
  ronyup/internal/skeleton/workspace/devops/devbox/scripts/services.sh
  ronyup/internal/skeleton/workspace/devops/devbox/services/README.md
  ronyup/internal/skeleton/workspace/devops/devbox/services/exposure.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/rustfs.yaml
  ronyup/internal/skeleton/workspace/devops/devbox/services/values/traefik.yaml
Due: none

add WebMCP demo: implement TaskBoard UI, task store logic, zod-based validation, WebMCP integrations, tests, and styling
  .agents/skills/ronykit-framework/SKILL.md
  example/README.MD
  example/ex-13-webmcp/.gitignore
  example/ex-13-webmcp/README.MD
  example/ex-13-webmcp/index.html
  example/ex-13-webmcp/package-lock.json
  example/ex-13-webmcp/package.json
  example/ex-13-webmcp/src/App.tsx
  example/ex-13-webmcp/src/components/TaskBoard.tsx
  example/ex-13-webmcp/src/components/WebMCPProvider.tsx
  example/ex-13-webmcp/src/index.css
  example/ex-13-webmcp/src/lib/tasks.test.ts
  example/ex-13-webmcp/src/lib/tasks.ts
  example/ex-13-webmcp/src/main.tsx
  example/ex-13-webmcp/src/vite-env.d.ts
  example/ex-13-webmcp/tsconfig.json
  example/ex-13-webmcp/vite.config.ts
  example/ex-13-webmcp/vitest.config.ts
  ronyup/cmd/mcp/knowledge/prompts/design-frontend.md
  ronyup/cmd/mcp/knowledge/resources/architecture/frontend-design-documents.md
  ronyup/cmd/mcp/knowledge/resources/architecture/frontend-design-template.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/skills/webmcp/SKILL.md
  ronyup/internal/skeleton/skills/webmcp/references/dashboards.md
  ronyup/internal/skeleton/skills/webmcp/references/react-integration.md
  ronyup/internal/skeleton/skills/webmcp/references/testing.md
  ronyup/internal/skeleton/skills/webmcp/references/tool-design.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

add React performance rules skeleton: define sections, impact levels, and rule templates
  .gitignore
  ronyup/internal/skeleton/skills/react-performance/rules/_sections.md
  ronyup/internal/skeleton/skills/react-performance/rules/_template.md
Due: none

add Temporal failure converter: enable seamless *errs.Error propagation with retry settings, tests, and documentation
  flow/README.md
  flow/backend.go
  flow/failure_converter.go
  flow/failure_converter_test.go
  flow/go.mod
  flow/go.sum
  rony/errs/error_internal.go
  rony/errs/internal_extra_test.go
Due: Framework
