Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

add comprehensive unit tests for `kit` components, enhance test coverage, and refine `Makefile` test exclusion filters
  Makefile
  kit/context_test.go
  kit/desc/parser.go
  kit/desc/parser_test.go
  kit/kit_suite_test.go
  kit/message_test.go
Due: Framework

add extensive unit tests for various components across `flow`, `x`, and `telemetry` directories to improve test coverage and reliability
  Makefile
  codecov.yml
  flow/error_test.go
  flow/logger_test.go
  flow/utils_test.go
  testenv/cluster_test.go
  x/cache/cache_test.go
  x/datasource/adapter_test.go
  x/di/di_test.go
  x/p/bytes_test.go
  x/p/timer_test.go
  x/p/waitgroup_test.go
  x/ratelimit/ratelimit_test.go
  x/rkit/generic_test.go
  x/settings/settings_test.go
  x/telemetry/logkit/sensitive_test.go
  x/telemetry/meterkit/exporter_test.go
  x/telemetry/tracekit/helpers_test.go
  x/testkit/testdata/a.txt
  x/testkit/testdata/b.txt
  x/testkit/utils_test.go
Due: Framework

add GitHub Actions workflow for test coverage reporting with Codecov
  .github/workflows/coverage.yml
Due: none

bump GitHub Actions to latest versions: `actions/checkout@v6` and `actions/setup-python@v6`
  .github/workflows/coverage.yml
Due: none

add unit tests for `x/rkit` utilities, including array transforms, casting, file operations, randomness, spinlocks, string conversions, and time utilities, improving test coverage and reliability
  x/rkit/array_test.go
  x/rkit/cast_test.go
  x/rkit/file_test.go
  x/rkit/generic_test.go
  x/rkit/random_test.go
  x/rkit/spinlock_test.go
  x/rkit/str_test.go
  x/rkit/time_test.go
  x/rkit/type_numeric.go
  x/rkit/type_numeric_test.go
  x/rkit/unsafe_test.go
Due: none

add `Makefile` to manage common workspace tasks: run, test, tidy, vet, and lint
  ronyup/internal/skeleton/workspace/Makefile
Due: none

add `scalar-ui` support for API documentation rendering, including embed assets, server option, and example usage
  example/ex-05-counter/main.go
  rony/server.go
  rony/server_options.go
  x/apidoc/doc.go
  x/apidoc/doc_test.go
  x/apidoc/fs.go
  x/apidoc/internal/scalar-ui/index.html
Due: Framework

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

remove Python test coverage workflow, update Go workflow dependencies and versions, and refine Codecov configuration
  .github/workflows/coverage.yml
  .github/workflows/go.yml
  codecov.yml
Due: none

add unit tests for clusters, gateways, stub generators, and context helpers to improve test coverage and reliability
  std/clusters/p2pcluster/cluster_test.go
  std/clusters/rediscluster/options_test.go
  std/gateways/fasthttp/cors_test.go
  std/gateways/fastws/fastws_test.go
  std/gateways/silverhttp/decoder_test.go
  stub/restctx_test.go
  stub/stubgen/stubgen_extra_test.go
Due: Framework, Standard Libraries

add extensive unit tests for `kit` and `rony` packages, covering context helpers, envelope handling, and server setup to enhance test coverage and reliability
  kit/ctx_cluster_extra_test.go
  kit/envelope_carrier_extra_test.go
  rony/context_extra_test.go
  rony/setup_extra_test.go
  rony/setup_middleware.go
Due: Framework

add additional unit tests for `kit` and `rony` packages, focusing on edge cases, server lifecycle, route handling, and contract wrapping to further improve test coverage and reliability
  kit/bridge_extra_test.go
  kit/context_helpers_extra_test.go
  kit/ctx_cluster_extra_test.go
  kit/edge_extra_test.go
  kit/test_helpers_test.go
  kit/testcontext_extra_test.go
  rony/context_extra_test.go
  rony/server_extra_test.go
  rony/server_options_extra_test.go
  rony/setup_extra_test.go
  rony/setup_stream_extra_test.go
  rony/setup_unary_extra_test.go
Due: Framework

add extensive unit tests for `kit` package, including enhanced coverage of utilities, descriptors, error handling, file operations, random generation, linked lists, and array transformations
  .github/workflows/go.yml
  kit/common/common_test.go
  kit/desc/contract_extra_test.go
  kit/desc/message_extra_test.go
  kit/desc/parser_helpers_test.go
  kit/desc/parser_internal_test.go
  kit/errors/error_extra_test.go
  kit/internal/stacktrace/stacktrace_test.go
  kit/utils/array_extra_test.go
  kit/utils/buf/bytes_extra_test.go
  kit/utils/file_extra_test.go
  kit/utils/linked_list_extra_test.go
  kit/utils/misc_extra_test.go
  kit/utils/reflector/obj_extra_test.go
  kit/utils/singleflight_internal_test.go
  rony/errs/builder_extra_test.go
  rony/errs/errmarshalling/marshal_test.go
  rony/errs/internal_extra_test.go
Due: Framework

add extensive unit tests for `tpl`, `stub`, and `services` packages, improving test coverage across helper functions, error handling, options, REST, WebSocket, and service contracts
  .github/workflows/go.yml
  stub/error_extra_test.go
  stub/internal/tpl/util_extra_test.go
  stub/options_extra_test.go
  stub/rest_extra_test.go
  stub/utils_extra_test.go
  stub/websocket_extra_test.go
  testenv/services/services_extra_test.go
Due: Framework

Add Trivy vulnerability scanning workflow
  .github/workflows/trivy.yml
Due: none

add comprehensive unit tests for `fasthttp` package, improving error handling, WebSocket handling, proxy behavior, and request processing
  README.MD
  std/gateways/fasthttp/bundle_extra_test.go
  std/gateways/fasthttp/conn_extra_test.go
  std/gateways/fasthttp/decoder_more_test.go
  std/gateways/fasthttp/internal/realip/realip_extra_test.go
  std/gateways/fasthttp/proxy/extra_test.go
  std/gateways/fasthttp/selector_extra_test.go
  std/gateways/fasthttp/test_helpers_test.go
  std/gateways/fasthttp/utils_extra_test.go
Due: Standard Libraries

remove Trivy vulnerability scanning workflow
  .github/workflows/trivy.yml
Due: none

update README files for `rony`, `kit`, and root directories to improve clarity, structure, and developer onboarding
  README.MD
  kit/README.MD
  rony/README.MD
Due: Framework

introduce MCP gateway with initial implementation, add support for input/output message registration, and update related tests
  .fleet/settings.json
  .junie/guidelines.md
  docs/AI.md
  example/ex-11-mcp/go.mod
  example/ex-11-mcp/go.sum
  example/ex-11-mcp/main.go
  go.work
  kit/bridge_north.go
  kit/edge.go
  kit/edge_test.go
  kit/test_helpers_test.go
  rony/server.go
  rony/server_options.go
  std/gateways/fasthttp/bundle.go
  std/gateways/fasthttp/bundle_extra_test.go
  std/gateways/fastws/bundle.go
  std/gateways/fastws/fastws_test.go
  std/gateways/mcp/bundle.go
  std/gateways/mcp/conn.go
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/gateways/mcp/options.go
  std/gateways/mcp/selector.go
  std/gateways/silverhttp/bundle.go
Due: Framework, Standard Libraries

update Go module dependencies across multiple packages to their latest versions for enhanced stability and compatibility
  flow/go.mod
  flow/go.sum
  rony/server_extra_test.go
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/mcp/bundle.go
  std/gateways/mcp/conn.go
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
Due: Framework, Standard Libraries

add panic recovery mechanism to payload encryption/decryption loops in `data_converter.go` to ensure stability during runtime anomalies
  flow/data_converter.go
Due: none

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

add `WithPoolBufferSize` option to `fasthttp` for configuring request and response body size limits
  std/gateways/fasthttp/options.go
Due: Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries

docs: initialize and refine AGENTS.md guidance
  AGENTS.md
Due: none

refactor: replace custom string utilities with `sprig` alternatives across templates and utility functions
  CLAUDE.md
  stub/internal/tpl/go/stub.gotmpl
  stub/internal/tpl/tpl.go
  stub/internal/tpl/ts/stub.tstmpl
  stub/internal/tpl/ts/swr.hooks.tstmpl
  stub/internal/tpl/util.go
  stub/internal/tpl/util_extra_test.go
Due: Framework

bump dependencies: update `go-json` module hashes across all `go.sum` files
  flow/go.sum
  rony/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/di/go.sum
  x/telemetry/go.sum
Due: Framework, Standard Libraries

add MCP gateway integration tests, validation logic, and enhance options configuration
  AGENTS.md
  std/gateways/mcp/bundle.go
  std/gateways/mcp/conn.go
  std/gateways/mcp/integration_test.go
  std/gateways/mcp/options.go
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/rkit/cast.go
Due: Standard Libraries

add MCP gateway integration tests, validation logic, and enhance options configuration
  kit/bridge_extra_test.go
  kit/bridge_north.go
  kit/bridge_south.go
  kit/contract_lookup.go
  kit/edge.go
  std/gateways/mcp/bundle.go
  std/gateways/mcp/conn.go
  testenv/services/key_value.go
Due: Framework, Standard Libraries

bump dependencies: update `go.temporal.io/api` to v1.62.4 (patch)
  flow/go.mod
  flow/go.sum
Due: none

add service scaffolding and related tests for MCP server in `ronyup` command
  .gitignore
  rony/server.go
  ronyup/README.MD
  ronyup/cmd/mcp/implement_service.go
  ronyup/cmd/mcp/implement_service_test.go
  ronyup/cmd/mcp/mcp.go
  ronyup/cmd/mcp/server.go
  ronyup/cmd/mcp/server_test.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/cmd/template/template.go
  ronyup/cmd/text/text.go
  ronyup/go.mod
  ronyup/go.sum
  ronyup/internal/skeleton/feature/service/api/service.gotmpl
  ronyup/internal/skeleton/workspace/AGENTS.md
  ronyup/internal/skeleton/workspace/cmd/service/healthz.gotmpl
  ronyup/internal/skeleton/workspace/feature/README.MD
  ronyup/internal/z/copy.go
  ronyup/internal/z/copy_test.go
  ronyup/main.go
  std/clusters/p2pcluster/cluster.go
  std/gateways/mcp/bundle.go
  stub/stubgen/gen_typescript.go
  testenv/base.go
  testenv/services/key_value.go
Due: Framework, Standard Libraries

add MCP server configuration for `ronyup` workspace
  ronyup/internal/skeleton/workspace/.ai/mcp/mcp.json
Due: none

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Contributions: any of: contrib/**
