Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Extended Libraries

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: extensions
      name: Extended Libraries
      paths:
        - x/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

fix(ratelimit): decode Lua allow results without int64 panic (#21)
  x/ratelimit/ratelimit.go
  x/ratelimit/ratelimit_test.go
Due: Extended Libraries

bump workspace requires (patch)
  flow/go.mod
  intent/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/embedders/langchaingo/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  std/knowledge/chromem/go.mod
  std/knowledge/milvus/go.mod
  std/knowledge/static/go.mod
  std/llms/langchaingo/go.mod
  std/llms/ollama/go.mod
  std/mcpclients/gosdk/go.mod
  std/memories/inmem/go.mod
  std/memories/postgres/go.mod
  std/memories/sqlite/go.mod
  std/memories/sqlstore/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.mod
  intent/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.mod
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace dependencies (minor)
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
  example/ex-11-mcp/go.mod
  example/ex-11-mcp/go.sum
  example/ex-12-agent/go.mod
  example/ex-12-agent/go.sum
  flow/go.mod
  flow/go.sum
  intent/go.mod
  intent/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/cmd/mcp/mcp.go
  ronyup/cmd/mcp/server.go
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/static/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.mod
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.mod
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.mod
  std/memories/sqlstore/go.sum
  stub/go.mod
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

Remove unused packages and functions, add CLI argument helpers, and enhance workspace and feature scaffolding logic.
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/helpers.go
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/mcp/mcp.go
  ronyup/cmd/mcp/resource_test.go
  ronyup/cmd/mcp/server.go
  ronyup/cmd/mcp/server_test.go
  ronyup/cmd/mcp/strings.go
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/mcp/tools/scaffold/scaffold_test.go
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/bundles.go
  ronyup/cmd/setup/migrate.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/cmd/template/gosource.go
  ronyup/cmd/template/template.go
  ronyup/cmd/text/interactive.go
  ronyup/cmd/text/text.go
  ronyup/internal/z/cmd.go
  ronyup/internal/z/cmd_test.go
  ronyup/internal/z/packages.go
  ronyup/main.go
Due: none

Introduce internal scaffolding package to unify workspace and feature creation logic
  .agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/mcp.go
  ronyup/cmd/mcp/resource_test.go
  ronyup/cmd/mcp/server.go
  ronyup/cmd/mcp/server_test.go
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/mcp/tools/scaffold/scaffold_test.go
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/migrate.go
  ronyup/cmd/setup/migrate_test.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/sync.go
  ronyup/cmd/setup/sync_test.go
  ronyup/internal/scaffold/api.go
  ronyup/internal/scaffold/bundles.go
  ronyup/internal/scaffold/bundles_test.go
  ronyup/internal/scaffold/feature.go
  ronyup/internal/scaffold/fsutil.go
  ronyup/internal/scaffold/kinds.go
  ronyup/internal/scaffold/logger.go
  ronyup/internal/scaffold/module.go
  ronyup/internal/scaffold/skills.go
  ronyup/internal/scaffold/skills_test.go
  ronyup/internal/scaffold/types.go
  ronyup/internal/scaffold/workspace.go
  ronyup/internal/scaffold/workspace_root.go
  ronyup/internal/scaffold/workspace_root_test.go
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
Due: none

Remove obsolete tests for legacy migrate and sync commands, introduce lifecycle management tools in scaffold.
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  AGENTS.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/tools/migrate_bundles.md
  ronyup/cmd/mcp/knowledge/resources/tools/setup_bundle.md
  ronyup/cmd/mcp/knowledge/resources/tools/sync_workspace.md
  ronyup/cmd/mcp/tools/scaffold/lifecycle.go
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/mcp/tools_inventory_test.go
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/migrate.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/sync.go
  ronyup/internal/scaffold/bundleops.go
  ronyup/internal/scaffold/layout.go
  ronyup/internal/scaffold/migrate.go
  ronyup/internal/scaffold/migrate_test.go
  ronyup/internal/scaffold/skills_drift_test.go
  ronyup/internal/scaffold/sync.go
  ronyup/internal/scaffold/sync_test.go
  ronyup/internal/skeleton/skills/README.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
Due: none

chore: repo hygiene — line endings, code owners, security policy
  .gitattributes
  .github/CODEOWNERS
  .gitignore
  SECURITY.md
Due: none

chore: cursor agent context — path rules, context map, exclusions
  .cursor/rules/01-core.mdc
  .cursor/rules/02-intent.mdc
  .cursor/rules/03-modules.mdc
  .cursor/rules/04-ronyup.mdc
  .cursorignore
  .env.example
  AGENTS.md
Due: none

refactor(agents): move two always-on sections into the path rules
  .cursor/rules/01-core.mdc
  .cursor/rules/02-intent.mdc
  .cursor/rules/04-ronyup.mdc
  AGENTS.md
Due: none

chore: agent-readiness remediations (Cursor) + repo hygiene (#22)
  .cursor/rules/01-core.mdc
  .cursor/rules/02-intent.mdc
  .cursor/rules/03-modules.mdc
  .cursor/rules/04-ronyup.mdc
  .cursorignore
  .env.example
  .gitattributes
  .github/CODEOWNERS
  .gitignore
  AGENTS.md
  SECURITY.md
Due: none

feat(ronyup): scaffold CLAUDE.md so new services are Claude Code–ready
  ronyup/internal/scaffold/sync.go
  ronyup/internal/skeleton/workspace/CLAUDE.md
Due: none

feat(ronyup): scaffold hygiene baseline (.editorconfig, CODEOWNERS, .cursorignore, .claude/settings.json)
  ronyup/internal/scaffold/sync.go
  ronyup/internal/skeleton/workspace/.claude/settings.json
  ronyup/internal/skeleton/workspace/.cursorignore
  ronyup/internal/skeleton/workspace/.editorconfig
  ronyup/internal/skeleton/workspace/CODEOWNERS
Due: none

feat(ronyup): duplicate ronykit-framework skill into .claude/skills and .cursor/skills
  ronyup/internal/scaffold/sync.go
  ronyup/internal/skeleton/workspace/.claude/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.claude/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/references/mcp-map.md
Due: none

feat(ronyup): agent + hygiene baseline for scaffolded services (CLAUDE.md, ignore/deny, editorconfig, CODEOWNERS, skills) (#23)
  ronyup/internal/scaffold/sync.go
  ronyup/internal/skeleton/workspace/.claude/settings.json
  ronyup/internal/skeleton/workspace/.claude/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.claude/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/.cursorignore
  ronyup/internal/skeleton/workspace/.editorconfig
  ronyup/internal/skeleton/workspace/CLAUDE.md
  ronyup/internal/skeleton/workspace/CODEOWNERS
Due: none

ci: add the G1 PR gate
  .github/workflows/pr-gate.yml
Due: none

ci: add self-contained PR checks
  .github/workflows/pr-checks.yml
  .github/workflows/pr-gate.yml
Due: none

ci: skip skeleton templates in build, allow local replaces in lint
  .github/workflows/pr-checks.yml
  .golangci.yml
Due: none

ci: add self-contained PR checks (#24)
  .github/workflows/pr-checks.yml
  .golangci.yml
Due: none

feat(rony): expose buffer and request body size server options
  rony/server_options.go
Due: Framework

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.mod
  intent/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.mod
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.mod
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.mod
  intent/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

fix(logkit): adapt terminal exporter to otel log attribute API
  x/telemetry/logkit/exporter/terminal/exporter_test.go
  x/telemetry/logkit/exporter/terminal/format.go
  x/telemetry/logkit/exporter/terminal/format_test.go
Due: Extended Libraries

feat(datasource): support TLS for redis connections
  x/datasource/adapter.go
  x/datasource/adapter_test.go
  x/di/datasource.go
  x/di/di_test.go
Due: Extended Libraries

feat(datasource): support TLS for redis connections (#25)
  x/datasource/adapter.go
  x/datasource/adapter_test.go
  x/di/datasource.go
  x/di/di_test.go
Due: Extended Libraries

feat(errs): allow overriding an error's wire HTTP status
  rony/errs/builder.go
  rony/errs/builder_extra_test.go
  rony/errs/error.go
  rony/errs/error_internal.go
Due: Framework
