Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Extended Libraries

Add architecture and package resources for RonyKIT best practices and enforce package selection through depguard
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/cmd/mcp/knowledge/prompts/review-architecture.md
  ronyup/cmd/mcp/knowledge/prompts/write-service-code.md
  ronyup/cmd/mcp/knowledge/prompts/write-workflow.md
  ronyup/cmd/mcp/knowledge/resources/architecture/package-selection.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/workflow.md
  ronyup/cmd/mcp/knowledge/resources/packages/batch.md
  ronyup/cmd/mcp/knowledge/resources/packages/datasource.md
  ronyup/cmd/mcp/knowledge/resources/packages/flow.md
  ronyup/cmd/mcp/knowledge/resources/packages/p.md
  ronyup/cmd/mcp/knowledge/resources/packages/ratelimit.md
  ronyup/cmd/mcp/knowledge/resources/packages/rkit.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/.golangci.yml
  ronyup/internal/skeleton/workspace/AGENTS.md
Due: none

Add `make sqlc` target in Makefile, extend domain modeling rules, and enforce mandatory repo integration tests in documentation
  ronyup/cmd/mcp/knowledge/prompts/write-service-code.md
  ronyup/cmd/mcp/knowledge/resources/architecture/domain-layer.md
  ronyup/cmd/mcp/knowledge/resources/architecture/integration-tests.md
  ronyup/cmd/mcp/knowledge/resources/architecture/postgres-sqlc.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/database.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/internal/skeleton/service/Makefiletmpl
Due: none

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

Add `filelog` core implementation with configurable options for telemetry logging
  x/telemetry/logkit/core/filelog/core.go
  x/telemetry/logkit/core/filelog/options.go
Due: Extended Libraries

Add `WithVersion` option to MCP bundle and include `version` field in schema generation
  std/gateways/mcp/bundle.go
  std/gateways/mcp/options.go
Due: Standard Libraries

Add connection pool configuration options: `WithMaxConnPerHost` and `WithMaxConnWaitTimeout`
  flow/activity.go
  stub/option.go
  stub/stub.go
Due: Framework

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

Add `WithServerConfigOverride` option for advanced server configuration adjustments
  std/gateways/fasthttp/options.go
Due: Standard Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

refactor datasource and module templates: replace `rkit.Must` with direct `fs.Sub` usage for migration paths; cleanup unused imports
  ronyup/internal/skeleton/service/module.gotmpl
  x/di/datasource.go
Due: Extended Libraries

refactor error handling: extend `WrapError` to accept code and item arguments; update REST context methods to use `WrapErrorOr` for contextual error metadata
  stub/error.go
  stub/stub_rest.go
Due: Framework

add `fullstack` workspace kind: scaffolds backend/frontend split with shared AI config, devops, and docs at the root
  .agents/skills/ronykit-framework/SKILL.md
  docs/AI.md
  docs/ronyup-guide.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/tools/scaffold/gate.go
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/internal/skeleton/frontend/README.MD
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
  ronyup/internal/skeleton/workspace/feature/README.MD
  ronyup/internal/z/copy.go
Due: none

add `skills` package: pre-installable agent skill definitions, catalog, and workspace scaffolding
  docs/ronyup-guide.md
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/skills.go
  ronyup/cmd/setup/skills_test.go
  ronyup/internal/skeleton/skills/code-formatting/SKILL.md
  ronyup/internal/skeleton/skills/code-review/SKILL.md
  ronyup/internal/skeleton/skills/conventional-commits/SKILL.md
  ronyup/internal/skeleton/skills/frontend-testing/SKILL.md
  ronyup/internal/skeleton/skills/go-modern/SKILL.md
  ronyup/internal/skeleton/skills/go-testing/SKILL.md
  ronyup/internal/skeleton/skills/nextjs-modern/SKILL.md
  ronyup/internal/skeleton/skills/systematic-debugging/SKILL.md
  ronyup/internal/skeleton/skills/writing-tests/SKILL.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

add new skills: `storybook`, `verification-before-completion`, and `writing-plans`; update `skills` package and `ronyup-guide` catalog
  docs/ronyup-guide.md
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/skills/storybook/SKILL.md
  ronyup/internal/skeleton/skills/verification-before-completion/SKILL.md
  ronyup/internal/skeleton/skills/writing-plans/SKILL.md
Due: none

add new skill: `shadcn`; update `skills` package and `ronyup-guide` catalog
  docs/ronyup-guide.md
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/skills/shadcn/SKILL.md
Due: none

clarify frontend topology requirements; enforce SRS/SDD gates for all backend changes
  .agents/skills/ronykit-framework/SKILL.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/internal/skeleton/frontend/README.MD
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

add frontend `verify` quality gate, Cursor stop hook, and `make` tasks; enforce autonomous verify-and-fix loop for frontend changes
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/internal/skeleton/frontend/Makefile
  ronyup/internal/skeleton/frontend/README.MD
  ronyup/internal/skeleton/frontend/verify.sh
  ronyup/internal/skeleton/skills/frontend-testing/SKILL.md
  ronyup/internal/skeleton/skills/storybook/SKILL.md
  ronyup/internal/skeleton/workspace/.cursor/hooks.jsontmpl
  ronyup/internal/skeleton/workspace/.cursor/hooks/frontend-verify.sh
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

add Homebrew support; introduce `version` command and dynamic versioning integration
  .github/workflows/homebrew.yml
  README.MD
  docs/ronyup-guide.md
  ronyup/README.MD
  ronyup/cmd/mcp/mcp.go
  ronyup/cmd/version/version.go
  ronyup/internal/version.go
  ronyup/main.go
Due: none

add module-specific bump support to `bump-workspace.sh` and Makefile tasks
  Makefile
  scripts/bump-workspace.sh
Due: none

add automated `ronyup` release workflow and Homebrew formula rendering
  .github/homebrew/ronyup.rb.tmpl
  .github/workflows/homebrew.yml
  .github/workflows/ronyup-release.yml
  Makefile
  docs/ronyup-guide.md
  scripts/render-homebrew-formula.sh
Due: none

rewrite Homebrew checksum computation using `homebrew-checksums.sh`, refactor workflows for modular reuse
  .github/workflows/homebrew.yml
  .github/workflows/ronyup-release.yml
  Makefile
  scripts/homebrew-checksums.sh
Due: none

refine `storybook` skill documentation with CSF 3.0 best practices, detailed examples, and setup guidance.
  ronyup/internal/skeleton/skills/storybook/SKILL.md
Due: none

add new `dashboard-ui` skill: define best practices for building admin UIs, update `skills` package and workspace scaffolding
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/skills/dashboard-ui/SKILL.md
  ronyup/internal/skeleton/skills/nextjs-modern/SKILL.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

add new skills: `design-tokens`, `shadcn/accessibility`, `shadcn/theming`, `typography`, and `ux-quality`; update `skills` package and workspace configuration
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/skills/code-review/SKILL.md
  ronyup/internal/skeleton/skills/design-tokens/SKILL.md
  ronyup/internal/skeleton/skills/shadcn/SKILL.md
  ronyup/internal/skeleton/skills/shadcn/references/accessibility.md
  ronyup/internal/skeleton/skills/shadcn/references/theming.md
  ronyup/internal/skeleton/skills/typography/SKILL.md
  ronyup/internal/skeleton/skills/typography/references/css-baseline.md
  ronyup/internal/skeleton/skills/typography/references/html-entities.md
  ronyup/internal/skeleton/skills/ux-quality/SKILL.md
Due: none

bump GitHub Actions versions in `ronyup-release` workflow for compatibility and maintenance
  .github/workflows/ronyup-release.yml
Due: none

add `design-frontend` prompt, frontend design doc workflow, and backend verify gate enhancements
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  docs/ronyup-guide.md
  ronyup/cmd/mcp/knowledge/prompts/design-frontend.md
  ronyup/cmd/mcp/knowledge/prompts/design-new-service.md
  ronyup/cmd/mcp/knowledge/resources/architecture/frontend-design-documents.md
  ronyup/cmd/mcp/knowledge/resources/architecture/frontend-design-template.md
  ronyup/cmd/mcp/knowledge/resources/architecture/integration-tests.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/mcp/resource.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/frontend/README.MD
  ronyup/internal/skeleton/frontend/verify.sh
  ronyup/internal/skeleton/skills/frontend-design/SKILL.md
  ronyup/internal/skeleton/skills/go-testing/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/.cursor/hooks.jsontmpl
  ronyup/internal/skeleton/workspace/.cursor/hooks/backend-verify.sh
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
  ronyup/internal/skeleton/workspace/Makefile
  ronyup/internal/skeleton/workspace/docs/design/README.MD
  ronyup/internal/skeleton/workspace/verify.sh
Due: none

add `ronyup` development guidelines to `AGENTS.md` for scaffolding and MCP server configuration
  AGENTS.md
Due: none

add `frontend-only` workspace kind: scaffold `frontend/` apps without Go backend, devops, or backend verify gate
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/workspace/.cursor/hooks.jsontmpl
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

add chain workflow utilities: chain execution framework, test coverage, and documentation updates
  flow/README.md
  flow/workflow_chain.go
  testenv/flow_test.go
Due: Framework

replace `ginkgo` and `gomega` test frameworks with `testify` in all packages, update test files and dependencies accordingly
  AGENTS.md
  intent/DESIGN.md
  kit/context_test.go
  kit/ctx_kv_test.go
  kit/ctx_limited_test.go
  kit/desc/desc_test.go
  kit/desc/parser_test.go
  kit/desc/service_test.go
  kit/desc/util_test.go
  kit/envelope_test.go
  kit/errors/error_test.go
  kit/go.mod
  kit/go.sum
  kit/kit_suite_test.go
  kit/message_test.go
  kit/utils/convert_test.go
  kit/utils/reflector/reflector_test.go
  kit/utils/srl/srl_test.go
  kit/utils/utils_test.go
  ronyup/cmd/mcp/knowledge/resources/characteristics/testing.md
  ronyup/internal/skeleton/skills/go-testing/SKILL.md
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  std/gateways/silverhttp/httpmux/httpmux_suite_test.go
  std/gateways/silverhttp/httpmux/router_test.go
  stub/go.mod
  stub/go.sum
  stub/stub_test.go
  stub/stubgen/gen_test.go
  stub/utils_test.go
  x/apidoc/doc_test.go
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/batch/batcher_test.go
  x/batch/go.mod
  x/batch/go.sum
Due: Framework, Standard Libraries, Extended Libraries

downgrade multiple dependencies across Go modules for compatibility and stability reasons
  flow/go.mod
  flow/go.sum
  intent/go.mod
  intent/go.sum
  kit/go.mod
  kit/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
Due: Framework, Standard Libraries

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Extended Libraries: any of: x/**
