Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Extended Libraries

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace requires (patch)
  .golangci.yml
  kit/desc/parser.go
  ronyup/go.mod
  ronyup/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework

refactor: improve error handling and JSON tag validation in stub generation
  ronyup/cmd/mcp/knowledge/resources/architecture/api-handler-files.md
  stub/internal/tpl/ts/stub.tstmpl
  stub/stubgen/gen_golang.go
  stub/stubgen/gen_typescript.go
Due: Framework

add MCP index, skill enhancements, and workspace scaffolding updates
  .cursor/mcp.json
  .cursor/skills/ronykit-framework/README.md
  .cursor/skills/ronykit-framework/mcp-map.md
  AGENTS.md
  docs/ronyup-guide.md
  ronyup/cmd/mcp/knowledge/prompts/write-service-code.md
  ronyup/internal/skeleton/workspace/.cursor/mcp.json
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/mcp-map.md
  ronyup/internal/skeleton/workspace/AGENTS.md
Due: none

relocate MCP index and skill files to standardized paths, update references for consistency
  .agents/skills/ronykit-framework/README.md
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  .cursor/skills/ronykit-framework/references/mcp-map.md
  AGENTS.md
  docs/ronyup-guide.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/AGENTS.md
Due: none

remove redundant `GETTING_STARTED.MD`, improve markdown table formatting in `README.MD`
  GETTING_STARTED.MD
  README.MD
Due: none

add `Zap()` method to `Logger` for accessing underlying zap instance
  x/telemetry/logkit/log_zap.go
Due: Extended Libraries

add OpenTelemetry integration: introduce `bufferArrayEncoder`, context-based span event logging, and attribute handling for enhanced observability
  x/telemetry/logkit/config.go
  x/telemetry/logkit/log_zap.go
  x/telemetry/logkit/otel.go
  x/telemetry/logkit/otel_array_encoder.go
Due: Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

add `ActivityOption` for configuring activity behavior, replace `tricks.MiddlewareStack` with inline span handling
  flow/activity.go
  flow/go.mod
  flow/go.sum
Due: none

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

propagate `createSpanEvent` field to child logger
  x/telemetry/logkit/log_zap.go
Due: Extended Libraries

bump workspace requires (minor)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (minor)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

remove `ronykit-framework` skill files and references
  .agents/skills/ronykit-framework/README.md
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  .cursor/skills/ronykit-framework/README.md
  .cursor/skills/ronykit-framework/SKILL.md
  .cursor/skills/ronykit-framework/references/mcp-map.md
  AGENTS.md
  docs/AI.md
  docs/cookbook.md
  docs/getting-started.md
  docs/ronyup-guide.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/prompts/generate-stubs.md
  ronyup/cmd/mcp/knowledge/prompts/plan-service.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_feature.md
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/AGENTS.md
  ronyup/internal/skeleton/workspace/feature/README.MD
Due: none

bump dependencies in go.mod and go.sum files (minor updates) and adjust activity handling logic
  flow/activity.go
  flow/go.sum
  go.work
  kit/go.sum
  rony/go.sum
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/text/interactive.go
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/ratelimit/go.sum
  x/settings/go.sum
  x/telemetry/logkit/otel.go
  x/telemetry/logkit/otel_array_encoder.go
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

remove outdated `dao`, `dto`, and `repo` templates, migrate `feature/service` structure to `service`, and add workspace design docs folder
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/boilerplate/dao.gotmpl
  ronyup/internal/skeleton/boilerplate/dto.gotmpl
  ronyup/internal/skeleton/feature/service/internal/repo/v0/data/db/queries/queries.sql
  ronyup/internal/skeleton/service/Makefiletmpl
  ronyup/internal/skeleton/service/README.MD
  ronyup/internal/skeleton/service/api/service.gotmpl
  ronyup/internal/skeleton/service/gen/stub/gen.gotmpl
  ronyup/internal/skeleton/service/internal/app/app.gotmpl
  ronyup/internal/skeleton/service/internal/domain/doc.go
  ronyup/internal/skeleton/service/internal/repo/integration_test/setup_test.gotmpl
  ronyup/internal/skeleton/service/internal/repo/port.go
  ronyup/internal/skeleton/service/internal/repo/v0/adapter.gotmpl
  ronyup/internal/skeleton/service/internal/repo/v0/data/db/migrations/001_init.up.sql
  ronyup/internal/skeleton/service/internal/repo/v0/data/db/queries/queries.sql
  ronyup/internal/skeleton/service/internal/repo/v0/sqlc.ymltmpl
  ronyup/internal/skeleton/service/internal/settings/config.local.yamltmpl
  ronyup/internal/skeleton/service/internal/settings/const.gotmpl
  ronyup/internal/skeleton/service/internal/settings/settings.gotmpl
  ronyup/internal/skeleton/service/migration.gotmpl
  ronyup/internal/skeleton/service/module.gotmpl
  ronyup/internal/skeleton/service/service.gotmpl
  ronyup/internal/skeleton/workspace/docs/design/README.MD
Due: none

add `format-markdown.sh` script to preserve YAML frontmatter during Markdown formatting and integrate into `make format-md`; update characteristics and prompts for consistent YAML structure
  AGENTS.md
  CLAUDE.md
  Makefile
  ronyup/cmd/mcp/knowledge/prompts/design-api.md
  ronyup/cmd/mcp/knowledge/prompts/design-new-service.md
  ronyup/cmd/mcp/knowledge/prompts/generate-stubs.md
  ronyup/cmd/mcp/knowledge/prompts/migrate-kit-to-rony.md
  ronyup/cmd/mcp/knowledge/prompts/plan-service.md
  ronyup/cmd/mcp/knowledge/prompts/review-architecture.md
  ronyup/cmd/mcp/knowledge/prompts/write-sdd.md
  ronyup/cmd/mcp/knowledge/prompts/write-service-code.md
  ronyup/cmd/mcp/knowledge/prompts/write-srs.md
  ronyup/cmd/mcp/knowledge/prompts/write-workflow.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/api.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/cache.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/database.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/di.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/i18n.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/idempotent.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/telemetry.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/testing.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/workflow.md
  ronyup/cmd/mcp/knowledge/resources/packages/apidoc.md
  ronyup/cmd/mcp/knowledge/resources/packages/cache.md
  ronyup/cmd/mcp/knowledge/resources/packages/di.md
  ronyup/cmd/mcp/knowledge/resources/packages/flow.md
  ronyup/cmd/mcp/knowledge/resources/packages/i18n.md
  ronyup/cmd/mcp/knowledge/resources/packages/logkit.md
  ronyup/cmd/mcp/knowledge/resources/packages/meterkit.md
  ronyup/cmd/mcp/knowledge/resources/packages/rkit.md
  ronyup/cmd/mcp/knowledge/resources/packages/settings.md
  ronyup/cmd/mcp/knowledge/resources/packages/testkit.md
  ronyup/cmd/mcp/knowledge/resources/packages/tracekit.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_feature.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  scripts/format-markdown.sh
Due: none

add `enum` constraint to `scaffold` feature template and introduce `dev-mcp` target in Makefile
  Makefile
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
Due: none

add `docs/compliance.md` for license compliance workflow and configure `.fossa.yml` for FOSSA exclusions; update README and COMPLIANCE.md for dependency license tracking
  .fossa.yml
  COMPLIANCE.md
  README.MD
  docs/compliance.md
Due: none

update README to include security badge for FOSSA compliance tracking
  README.MD
Due: none

extend COMPLIANCE.md with detailed dependency license tracking
  COMPLIANCE.md
Due: none

bump dependencies in go.mod and go.sum files (patch updates) and refactor activity initialization to support optional configuration
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
  flow/activity.go
  flow/go.mod
  flow/go.sum
  ronyup/go.mod
  ronyup/go.sum
  testenv/go.mod
  testenv/go.sum
Due: Framework

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump dependencies in go.mod and go.sum (patch updates) and extend workflow options with `Memo` and `StaticDetails` fields
  flow/go.mod
  flow/go.sum
  flow/workflow.go
Due: none

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Extended Libraries: any of: x/**
