Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

bump version to v0.17.9
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/bundle.go
  std/gateways/fasthttp/conn_http.go
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

chore: cleanup go.sum
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

[stub] improve connect,reconnect functionalities
  std/gateways/fastws/bundle.go
  stub/stub.go
  stub/stub_ws.go
  testenv/base.go
  testenv/go.mod
  testenv/go.sum
  testenv/services/echo.go
  testenv/stub_test.go
Due: Framework, Standard Libraries

bump version to v0.17.10
  contrib/go.mod
  example/ex-01-rpc/cmd/client/main.go
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/bundle.go
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  stub/stub_ws.go
Due: Framework, Standard Libraries, Contributions

chore: cleanup
  contrib/go.sum
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  rony/go.sum
  testenv/go.mod
Due: Framework, Contributions

[fix] ignore undefined fields in generated ts stub
  contrib/.golangci.yml
  kit/.golangci.yml
  rony/.golangci.yml
  stub/.golangci.yml
  stub/internal/tpl/ts/stub.tstmpl
  testenv/.golangci.yml
  testenv/stub_test.go
Due: Framework, Contributions

[stub] exposed aux functions in stub generator
  stub/internal/tpl/tpl.go
  stub/stubgen/gen.go
Due: Framework

[stub] introduce extra options for stub gen templates
  stub/internal/tpl/ts/stub.tstmpl
  stub/stubgen/gen.go
  stub/stubgen/gen_test.go
  stub/stubgen/input.go
  stub/stubgen/options.go
Due: Framework

bump version to v0.17.11
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

cleanup go.sum
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

[rony] add PrintRoutes method to server
  rony/server.go
Due: Framework

bump version to v0.17.12
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update dependency versions in go.mod and go.sum files
  contrib/go.mod
  contrib/go.sum
  kit/go.mod
  kit/go.sum
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.17.13
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.17.14
  contrib/go.mod
  contrib/go.sum
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to v0.17.14
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

bump version to v0.17.15
  contrib/go.mod
  kit/conn.go
  rony/go.mod
  rony/setup.go
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/conn_ws.go
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/conn.go
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.17.16
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add unit tests for FastHTTP and FastWS server with close handling
  std/gateways/fasthttp/conn_ws.go
  std/gateways/fastws/conn.go
  stub/go.mod
  stub/go.sum
  testenv/fasthttp_test.go
  testenv/fastws_test.go
  testenv/services/echo.go
Due: Framework, Standard Libraries

bump version to v0.17.17
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Enable more FastWS test cases
  testenv/fastws_test.go
Due: Framework

Regenerate stubs for updated sampleservice
  contrib/go.sum
  example/ex-04-stubgen/stub/gen.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  example/ex-04-stubgen/stub/sampleservicets/swr.hooks.ts
  rony/go.mod
  rony/go.sum
  rony/stub.go
  std/gateways/silverhttp/decoder.go
  stub/internal/tpl/tpl.go
  stub/internal/tpl/ts/swr.hooks.tstmpl
  stub/stubgen/gen.go
  stub/stubgen/gen_func.go
  stub/stubgen/gen_golang.go
  stub/stubgen/gen_typescript.go
  stub/stubgen/input.go
  stub/stubgen/options.go
Due: Framework, Standard Libraries, Contributions

bump version to v0.17.18
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update dependencies and refactor stubgen tests
  contrib/go.sum
  kit/go.mod
  kit/go.sum
  rony/go.sum
  stub/stubgen/gen_test.go
Due: Framework, Contributions

bump version to v0.17.19
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update dependencies to latest versions
  contrib/go.mod
  contrib/go.sum
  rony/go.mod
  rony/go.sum
Due: Framework, Contributions

Remove unnecessary dependencies and update versions.
  async/go.mod
  async/go.sum
  async/internal/dummybackend/backend.go
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/stubgen/gen_typescript.go
Due: Framework, Standard Libraries

Update gnet to v2.6.2 and add WebSocket stability check
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  stub/stub_ws.go
  testenv/go.mod
  testenv/services/echo.go
  testenv/stub_test.go
Due: Framework, Standard Libraries

Update dependencies and enhance lint script
  contrib/go.mod
  contrib/go.sum
  scripts/cleanup.sh
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
Due: Standard Libraries, Contributions

bump version to v0.17.20
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update module dependencies
  contrib/go.mod
  contrib/go.sum
  kit/README.MD
  rony/go.mod
  rony/go.sum
Due: Framework, Contributions

Add context parameter to ClusterStore methods
  kit/ctx_store.go
  kit/edge_test.go
  std/clusters/rediscluster/cluster.go
Due: Framework, Standard Libraries

bump version to v0.17.21
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to v0.17.21
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Refactor mock methods to use pointer receivers.
  example/ex-04-stubgen/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  stub/internal/tpl/go/stub.gotmpl
Due: Framework

bump version to v0.17.22
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add size hint and message encoding/decoding support
  contrib/go.sum
  example/ex-02-rest/cmd/server/main.go
  kit/envelope.go
  kit/envelope_test.go
  kit/message.go
  rony/go.sum
  std/gateways/fasthttp/conn_http.go
  std/gateways/silverhttp/conn_http.go
Due: Framework, Standard Libraries, Contributions

bump version to v0.18.0
  async/go.mod
  async/go.sum
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update ronykit dependencies to version v0.18.0
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Refactor log prefixes and improve buffer usage efficiency
  kit/bridge_south.go
  kit/edge.go
  kit/envelope.go
  kit/envelope_carrier.go
  kit/message.go
  std/clusters/p2pcluster/cluster.go
  std/gateways/fasthttp/bundle.go
  std/gateways/silverhttp/bundle.go
  stub/stub_ws.go
Due: Framework, Standard Libraries
