Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

Remove unused dependencies and update `ronykit` dependencies to v0.20.0.
  contrib/go.mod
  contrib/go.sum
  contrib/swagger/swagger.go
  contrib/tracekit/exporter.go
  contrib/tracekit/helpers.go
  contrib/tracekit/trace.go
Due: Contributions

Remove unused dependencies and update `ronykit` dependencies to v0.20.0.
  rony/go.mod
  rony/go.sum
Due: Framework

Add support for interval-based schedules in scheduler.
  flow/scheduler.go
Due: none

bump version to v0.20.1
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update `ronykit` dependencies to v0.20.1 and add Scheduler migration utility.
  contrib/go.sum
  flow/codecserver/service.go
  flow/data_converter.go
  flow/migrate/schedulers.go
  flow/scheduler.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.20.2
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor SDK to separate Backend interface and improve scheduler migration handling.
  flow/activity.go
  flow/backend.go
  flow/migrate/schedulers.go
  flow/scheduler.go
  flow/sdk.go
  flow/sdk_testkit.go
  flow/workflow.go
  testenv/flow_test.go
Due: Framework

bump version to v0.20.3
  contrib/go.mod
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Replace `ronykit` logger with Temporal logger in SDK.
  flow/sdk.go
Due: none

bump version to v0.20.4
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add method to update workflow retention period in SDK.
  flow/sdk.go
Due: none

bump version to v0.20.5
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add example for Temporal codec server with encryption support.
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
  example/ex-10-flow-codec/main.go
  flow/codecserver/service.go
  flow/data_converter.go
  go.work
Due: none

bump version to v0.20.6
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for AllowCredentials in CORS configuration
  std/gateways/fasthttp/cors.go
Due: Standard Libraries

bump version to v0.20.7
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Support namespace-specific encryption keys in codec server.
  example/ex-10-flow-codec/main.go
  flow/codecserver/service.go
Due: none

Improve scheduler migration logic and add `allowCredentials` to CORS config.
  flow/scheduler.go
  std/gateways/fasthttp/cors.go
Due: Standard Libraries

bump version to v0.20.7 and enhance workflow functionality with no-result variants.
  contrib/go.sum
  flow/workflow.go
  rony/errs/errmarshalling/marshal.go
  rony/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.20.8
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.20.8 and update fasthttp to v1.64.0
  contrib/go.mod
  contrib/go.sum
  rony/go.mod
  rony/go.sum
Due: Framework, Contributions

Update README with project structure and build commands, and enhance `WorkflowContext` with utility methods.
  README.MD
  flow/workflow_context.go
Due: none

Refactor skeleton templates to use dynamic module paths for logging and private repositories.
  ronyup/internal/skeleton/gateway/Makefiletmpl
  ronyup/internal/skeleton/gateway/internal/app/app.gotmpl
  ronyup/internal/skeleton/service/Makefiletmpl
  ronyup/internal/skeleton/service/internal/app/app.gotmpl
Due: none

bump version to v0.20.9
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Remove internal logging module and all related implementations from the project.
  contrib/go.sum
  go.work
  log/array_encoder.go
  log/config.go
  log/encoder.go
  log/field.go
  log/go.mod
  log/go.sum
  log/log.go
  log/log_sugar.go
  log/log_zap.go
  log/otel.go
  log/sensitive.go
  rony/go.sum
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/gateway/Makefiletmpl
  ronyup/internal/skeleton/gateway/api/service.gotmpl
  ronyup/internal/skeleton/gateway/internal/settings/settings.gotmpl
  ronyup/internal/skeleton/gateway/service.gotmpl
  ronyup/internal/skeleton/service/Makefiletmpl
  ronyup/internal/skeleton/service/api/service.gotmpl
  ronyup/internal/skeleton/service/internal/repo/integration_test/setup_test.gotmpl
  ronyup/internal/skeleton/service/internal/settings/settings.gotmpl
  ronyup/internal/skeleton/service/module.gotmpl
  ronyup/internal/skeleton/service/service.gotmpl
  scripts/update-version.sh
Due: Framework, Contributions

bump version to v0.20.10
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.20.10 in `go.sum` files
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Enhance `migrateSchedulers` to handle nil checks for `sdk.b` and conditional logging with `sdk.l`.
  flow/sdk.go
Due: none

Fix message assignment logic in error builder
  rony/errs/builder.go
Due: Framework

bump version to v0.20.11
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for Prometheus metric exporter in MeterKit
  contrib/go.mod
  contrib/go.sum
  contrib/meterkit/exporter.go
  contrib/meterkit/exporter_option.go
  contrib/tracekit/exporter.go
Due: Contributions

Add i18n support and implement text generation CLI
  ronyup/cmd/text/text.go
  ronyup/main.go
  util/go.mod
  util/i18n/i18n.go
Due: none

bump version to v0.20.12
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Rename CLI command from `gen` to `text` in `Cmd` definition.
  ronyup/cmd/text/text.go
Due: none

bump version to v0.20.13
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for configurable packages and custom package names in `text` command
  ronyup/cmd/text/text.go
Due: none

bump version to v0.20.14
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Fix panic in `TextCtx` when context key is missing and update CLI option naming
  ronyup/cmd/text/text.go
  util/i18n/i18n.go
Due: none

bump version to v0.20.15
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Contributions: any of: contrib/**
