Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Extended Libraries

feat(errs): allow overriding an error's wire HTTP status (#26)
  rony/errs/builder.go
  rony/errs/builder_extra_test.go
  rony/errs/error.go
  rony/errs/error_internal.go
Due: Framework

bump workspace requires (patch)
  flow/go.mod
  intent/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/embedders/langchaingo/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  std/knowledge/chromem/go.mod
  std/knowledge/milvus/go.mod
  std/knowledge/static/go.mod
  std/llms/langchaingo/go.mod
  std/llms/ollama/go.mod
  std/mcpclients/gosdk/go.mod
  std/memories/inmem/go.mod
  std/memories/postgres/go.mod
  std/memories/sqlite/go.mod
  std/memories/sqlstore/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

fix(stubgen): compare reflect.Type directly for json.RawMessage detection
  stub/internal/tpl/util.go
Due: Framework

fix(desc): compare reflect.Type directly for raw message detection in typ()
  kit/desc/util.go
Due: Framework

fix(stubgen): detect json.RawMessage by type identity, not Type.String() (Go 1.27) (#27)
  kit/desc/util.go
  stub/internal/tpl/util.go
Due: Framework

fix(stubgen): don't import stdlib pkg of raw-message fields (Go 1.27)
  stub/stubgen/input.go
  stub/stubgen/stubgen_extra_test.go
Due: Framework

fix(stubgen): don't import stdlib pkg of raw-message fields (Go 1.27) (#28)
  stub/stubgen/input.go
  stub/stubgen/stubgen_extra_test.go
Due: Framework

Remove MCP Go SDK client and associated code
  go.work
  std/mcpclients/gosdk/go.mod
  std/mcpclients/gosdk/go.sum
  std/mcpclients/gosdk/registry.go
  std/mcpclients/gosdk/server.go
  std/mcpclients/gosdk/server_test.go
Due: none

Refactor workspace setup logic and migrate legacy bundle handling
  flow/failure_converter.go
  flow/workflow.go
  ronyup/cmd/mcp/resource.go
  ronyup/internal/scaffold/bundleops.go
  ronyup/internal/scaffold/migrate.go
  ronyup/internal/scaffold/workspace.go
  ronyup/internal/scaffold/workspace_root.go
Due: none

Add reflector utility for efficient struct field access and benchmarking
  x/rkit/reflector/obj.go
  x/rkit/reflector/obj_extra_test.go
  x/rkit/reflector/reflector.go
  x/rkit/reflector/reflector_test.go
  x/rkit/reflector/tag_punct_test.go
Due: Extended Libraries

Remove deprecated `kit/utils` package and its subpackages; migrate to `x/rkit` and `x/p`.
  kit/CHANGELOG.md
  kit/bridge_north.go
  kit/bridge_south.go
  kit/ctx.go
  kit/ctx_testkit.go
  kit/desc/contract.go
  kit/desc/desc.go
  kit/desc/parser.go
  kit/desc/parser_test.go
  kit/desc/service.go
  kit/edge.go
  kit/edge_prefork.go
  kit/edge_test.go
  kit/envelope.go
  kit/envelope_carrier.go
  kit/go.mod
  kit/go.sum
  kit/internal/stacktrace/stacktrace.go
  kit/internal/stacktrace/stacktrace_test.go
  kit/relay_test.go
  rony/rkit_compat_test.go
  ronyup/cmd/mcp/knowledge/resources/packages/rkit.md
  stub/internal/tpl/tpl.go
  stub/reflector_compat_test.go
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
  x/testkit/go.sum
Due: Framework, Extended Libraries

bump workspace requires (patch)
  flow/go.mod
  kit/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace versioning logic; refine tagging and tidy process for Go 1.26 upgrade
  Makefile
  scripts/bump-workspace.sh
  x/rkit/go.mod
Due: Extended Libraries

bump workspace requires (patch)
  flow/go.mod
  kit/go.mod
  kit/go.sum
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
Due: Framework, Standard Libraries, Extended Libraries

Add tests for MCP knowledge Go snippet parsing, feature templates, and scaffolded skills
  .env.example
  AGENTS.md
  docs/ronyup-guide.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/knowledge/resources/tools/sync_workspace.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/mcp/knowledge_snippet_test.go
  ronyup/cmd/mcp/tools/scaffold/scaffold.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/internal/scaffold/api.go
  ronyup/internal/scaffold/feature.go
  ronyup/internal/scaffold/feature_template_test.go
  ronyup/internal/scaffold/migrate.go
  ronyup/internal/scaffold/skills.go
  ronyup/internal/scaffold/skills_test.go
  ronyup/internal/scaffold/sync.go
  ronyup/internal/scaffold/verify_script_test.go
  ronyup/internal/skeleton/backend/feature/README.MD
  ronyup/internal/skeleton/backend/pkg/runner/runner.gotmpl
  ronyup/internal/skeleton/backend/verify.sh
  ronyup/internal/skeleton/skills/README.md
Due: none

Expand TypeScript code generation, update templates, and enhance stub API consistency in Go.
  example/ex-02-rest/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  example/ex-04-stubgen/stub/sampleservicets/swr.hooks.ts
  stub/internal/tpl/go/stub.gotmpl
  stub/internal/tpl/tpl.go
  stub/internal/tpl/ts/stub.tstmpl
  stub/internal/tpl/ts/swr.hooks.tstmpl
  stub/internal/tpl/util.go
  stub/internal/tpl/util_extra_test.go
  stub/stubgen/gen_test.go
Due: Framework

Add comprehensive tests for codec server, activity factories, scramble, scheduler, and workflow data converters
  flow/README.md
  flow/activity.go
  flow/activity_context.go
  flow/activity_factory_test.go
  flow/activity_heartbeat_test.go
  flow/codecserver/service.go
  flow/codecserver/service_test.go
  flow/data_converter.go
  flow/data_converter_test.go
  flow/go.mod
  flow/internal/scramble/scramble.go
  flow/internal/scramble/scramble_test.go
  flow/mock_backend_test.go
  flow/scheduler.go
  flow/scheduler_test.go
  flow/sdk.go
  flow/workflow.go
  flow/workflow_chain.go
Due: none

Fix `ReduceState` locking issues, extend `Server` lifecycle safety, enhance `errs` handling, and add missing tests.
  rony/CHANGELOG.md
  rony/context.go
  rony/context_extra_test.go
  rony/errs/builder_extra_test.go
  rony/errs/codes.go
  rony/errs/error.go
  rony/errs/internal_extra_test.go
  rony/server.go
  rony/server_extra_test.go
  rony/server_options.go
  rony/setup_stream_extra_test.go
  rony/setup_unary_extra_test.go
Due: Framework

bump workspace requires (minor)
  flow/go.mod
  kit/go.mod
  kit/go.sum
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (minor)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/di/go.sum
  x/telemetry/go.sum
Due: Framework, Standard Libraries, Extended Libraries

Migrate retired skills in ronyup setup sync
  .agents/skills/ronykit-framework/SKILL.md
  docs/ronyup-guide.md
  ronyup/cmd/mcp/knowledge/resources/tools/sync_workspace.md
  ronyup/internal/scaffold/skills.go
  ronyup/internal/scaffold/sync.go
  ronyup/internal/scaffold/sync_test.go
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.claude/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.cursor/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

Tighten ronyup skill defaults and guard skill snippets
  docs/ronyup-guide.md
  ronyup/internal/scaffold/skills.go
  ronyup/internal/scaffold/skills_test.go
  ronyup/internal/z/copy.go
Due: none

Let flow callers use Temporal without importing the SDK.
  flow/README.md
  flow/activity_context.go
  flow/attribute.go
  flow/backend.go
  flow/credentials.go
  flow/credentials_test.go
  flow/data_converter.go
  flow/failure_converter.go
  flow/logger.go
  flow/scheduler.go
  flow/sdk.go
  flow/type_alias.go
  flow/utils.go
  flow/utils_test.go
  flow/workflow.go
  flow/workflow_context.go
  ronyup/cmd/mcp/knowledge/resources/architecture/flow-workflows.md
  ronyup/cmd/mcp/knowledge/resources/packages/flow.md
Due: none

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Extended Libraries: any of: x/**
