Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Extended Libraries

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: extensions
      name: Extended Libraries
      paths:
        - x/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

bump workspace requires (minor)
  flow/go.mod
  intent/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/embedders/langchaingo/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  std/knowledge/chromem/go.mod
  std/knowledge/milvus/go.mod
  std/knowledge/static/go.mod
  std/llms/langchaingo/go.mod
  std/llms/ollama/go.mod
  std/mcpclients/gosdk/go.mod
  std/memories/inmem/go.mod
  std/memories/postgres/go.mod
  std/memories/sqlite/go.mod
  std/memories/sqlstore/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

add bundle setup command: introduce bundle management CLI, selective compilation, and runtime subsetting functionality
  ronyup/cmd/mcp/knowledge/resources/tools/setup_bundle.md
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/bundles.go
  ronyup/cmd/setup/bundles_test.go
  ronyup/internal/skeleton/backend/bundles.yaml
  ronyup/internal/skeleton/backend/cmd/bundle/main.gotmpl
  ronyup/internal/skeleton/backend/internal/runner/healthz.gotmpl
  ronyup/internal/skeleton/backend/internal/runner/middleware.gotmpl
  ronyup/internal/skeleton/backend/internal/runner/runner.gotmpl
Due: none

migrate workspace to bundle layout: remove monolithic files, introduce `bundles.yaml`, scaffold `internal/runner`, and update `cmd/service/main.go` to support modular builds
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  docs/ronyup-guide.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/architecture/executable-bundles.md
  ronyup/cmd/mcp/knowledge/resources/architecture/middleware.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/packages/di.md
  ronyup/cmd/mcp/knowledge/resources/tools/migrate_bundles.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_feature.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/knowledge/resources/tools/setup_bundle.md
  ronyup/cmd/mcp/knowledge/resources/tools/sync_workspace.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/interactive.go
  ronyup/cmd/setup/migrate.go
  ronyup/cmd/setup/migrate_test.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/cmd/setup/sync.go
  ronyup/internal/skeleton/backend/Makefile
  ronyup/internal/skeleton/backend/cmd/service/healthz.gotmpl
  ronyup/internal/skeleton/backend/cmd/service/main.gotmpl
  ronyup/internal/skeleton/backend/cmd/service/middleware.gotmpl
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

bump workspace requires (patch)
  flow/go.mod
  intent/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/embedders/langchaingo/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  std/knowledge/chromem/go.mod
  std/knowledge/milvus/go.mod
  std/knowledge/static/go.mod
  std/llms/langchaingo/go.mod
  std/llms/ollama/go.mod
  std/mcpclients/gosdk/go.mod
  std/memories/inmem/go.mod
  std/memories/postgres/go.mod
  std/memories/sqlite/go.mod
  std/memories/sqlstore/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.mod
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

migrate runner to bundle layout: relocate `internal/runner` to `cmd/runner`, update references, resolve workspace roots dynamically, and adjust tests/documentation accordingly
  .agents/skills/ronykit-framework/references/mcp-map.md
  docs/ronyup-guide.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/architecture/executable-bundles.md
  ronyup/cmd/mcp/knowledge/resources/architecture/middleware.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-commands.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/packages/di.md
  ronyup/cmd/mcp/knowledge/resources/tools/migrate_bundles.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/knowledge/resources/tools/setup_bundle.md
  ronyup/cmd/mcp/knowledge/resources/tools/sync_workspace.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/migrate.go
  ronyup/cmd/setup/migrate_test.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/cmd/setup/workspace_root.go
  ronyup/cmd/setup/workspace_root_test.go
  ronyup/internal/skeleton/backend/cmd/bundle/main.gotmpl
  ronyup/internal/skeleton/backend/cmd/runner/healthz.gotmpl
  ronyup/internal/skeleton/backend/cmd/runner/middleware.gotmpl
  ronyup/internal/skeleton/backend/cmd/runner/runner.gotmpl
  ronyup/internal/skeleton/backend/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

migrate runner to package layout: move `cmd/runner` to `pkg/runner`, relocate `cmd/service` to `cmd/all-in-one`, update references, and adjust documentation/tests accordingly
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  README.MD
  docs/cookbook.md
  docs/ronyup-guide.md
  ronyup/README.MD
  ronyup/cmd/mcp/knowledge/resources/architecture/executable-bundles.md
  ronyup/cmd/mcp/knowledge/resources/architecture/middleware.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-commands.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/packages/di.md
  ronyup/cmd/mcp/knowledge/resources/tools/migrate_bundles.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_feature.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_workspace.md
  ronyup/cmd/mcp/knowledge/resources/tools/setup_bundle.md
  ronyup/cmd/mcp/knowledge/resources/tools/sync_workspace.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/bundles.go
  ronyup/cmd/setup/migrate.go
  ronyup/cmd/setup/migrate_test.go
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_workspace_integration_test.go
  ronyup/cmd/setup/sync_test.go
  ronyup/cmd/setup/workspace_root.go
  ronyup/internal/skeleton/backend/Makefile
  ronyup/internal/skeleton/backend/bundles.yaml
  ronyup/internal/skeleton/backend/cmd/all-in-one/features.go
  ronyup/internal/skeleton/backend/cmd/all-in-one/main.gotmpl
  ronyup/internal/skeleton/backend/cmd/bundle/main.gotmpl
  ronyup/internal/skeleton/backend/pkg/runner/healthz.gotmpl
  ronyup/internal/skeleton/backend/pkg/runner/middleware.gotmpl
  ronyup/internal/skeleton/backend/pkg/runner/runner.gotmpl
  ronyup/internal/skeleton/frontend/README.MD
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  ronyup/internal/skeleton/workspace/AGENTS.mdtmpl
Due: none

add default bundle initialization: ensure missing `cmd/all-in-one` module and `features.go` are recreated during migration, update tests, and improve feature discovery
  ronyup/cmd/setup/bundle.go
  ronyup/cmd/setup/bundles.go
  ronyup/cmd/setup/bundles_test.go
  ronyup/cmd/setup/migrate.go
  ronyup/cmd/setup/migrate_test.go
Due: none

skip seeding bundles manifest if it already exists
  ronyup/cmd/setup/migrate.go
Due: none

Add bundled config support for scaffolded features and all-in-one entrypoints
  ronyup/cmd/mcp/knowledge/resources/architecture/module-wiring.md
  ronyup/cmd/mcp/knowledge/resources/architecture/settings-config.md
  ronyup/cmd/mcp/knowledge/resources/architecture/workspace-layout.md
  ronyup/cmd/mcp/knowledge/resources/packages/di.md
  ronyup/cmd/mcp/knowledge/resources/tools/scaffold_feature.md
  ronyup/cmd/setup/setup.go
  ronyup/cmd/setup/setup_feature_integration_test.go
  ronyup/internal/skeleton/service/service.gotmpl
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/config/README.MD
  x/di/service.go
  x/di/service_test.go
Due: Extended Libraries

Add `configDir` flag and ENV support for configurable config paths
  ronyup/internal/skeleton/backend/pkg/runner/runner.gotmpl
  x/di/di_test.go
  x/di/service.go
Due: Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  intent/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/embedders/langchaingo/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  std/knowledge/chromem/go.sum
  std/knowledge/milvus/go.sum
  std/knowledge/static/go.sum
  std/llms/langchaingo/go.sum
  std/llms/ollama/go.sum
  std/mcpclients/gosdk/go.sum
  std/memories/inmem/go.sum
  std/memories/postgres/go.sum
  std/memories/sqlite/go.sum
  std/memories/sqlstore/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

Add unit test for handling JSON tags with underscores and optimize tag parsing
  kit/utils/reflector/reflector.go
  kit/utils/reflector/tag_punct_test.go
Due: Framework

Add `GetUnderlyingConn` method to HTTP and WebSocket connection types
  std/gateways/fasthttp/conn_http.go
  std/gateways/fasthttp/conn_ws.go
  std/gateways/silverhttp/conn_http.go
Due: Standard Libraries

Introduce dynamic HTTP/WS handler relay: `RelayCtx`, `WithRelay`, and `kit.RelayConn`.
  .agents/skills/ronykit-framework/SKILL.md
  .agents/skills/ronykit-framework/references/mcp-map.md
  docs/AI.md
  docs/advanced-kit.md
  docs/architecture.md
  docs/cookbook.md
  kit/CHANGELOG.md
  kit/README.MD
  kit/conn.go
  kit/ctx_testkit.go
  kit/relay.go
  kit/relay_test.go
  rony/CHANGELOG.md
  rony/README.MD
  rony/context.go
  rony/go.mod
  rony/server_options.go
  rony/setup.go
  rony/setup_relay.go
  rony/setup_relay_test.go
  ronyup/cmd/mcp/knowledge/prompts/design-api.md
  ronyup/cmd/mcp/knowledge/resources/architecture/api-handler-files.md
  ronyup/cmd/mcp/knowledge/resources/architecture/handler-relay.md
  ronyup/cmd/mcp/knowledge/resources/characteristics/api.md
  ronyup/cmd/mcp/knowledge/server/instructions.md
  ronyup/cmd/setup/bundles.go
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/references/mcp-map.md
  std/gateways/fasthttp/conn_relay.go
  std/gateways/fasthttp/conn_relay_test.go
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/proxy/README.md
  std/gateways/fasthttp/proxy/relay.go
Due: Framework, Standard Libraries

Handle backend connection closure in WebSocket reverse proxy to prevent leaks and refine error logging logic
  std/gateways/fasthttp/proxy/ws_reverseproxy.go
Due: Standard Libraries

Enhance WebSocket relay: add query param filtering, header rewriting, and extra request header support, with new unit tests.
  std/gateways/fasthttp/conn_relay_test.go
  std/gateways/fasthttp/proxy/relay.go
Due: Standard Libraries

Enhance WebSocket relay: use `sync.WaitGroup` for goroutine synchronization, prevent panics on abrupt closure, and add new unit test for improved error handling.
  std/gateways/fasthttp/conn_relay_test.go
  std/gateways/fasthttp/proxy/relay.go
  std/gateways/fasthttp/proxy/ws_reverseproxy.go
Due: Standard Libraries

Refactor `nopLogger`: ensure correct level handling in `newNOP`, add panic-free tests for `SLog` and `SetLevel`, and refine WebSocket connection cleanup logic with spacing adjustments.
  std/gateways/fasthttp/proxy/relay.go
  std/gateways/fasthttp/proxy/ws_reverseproxy.go
  x/telemetry/logkit/log_zap.go
  x/telemetry/logkit/nop_test.go
Due: Standard Libraries, Extended Libraries

docs(readme): fix ronyup CLI and document intent/agent layout
  README.MD
Due: none

docs(readme): align quick start and layout with current codebase
  README.MD
Due: none

Add Clean Architecture references: interface adapters, frameworks, and boundary anatomy.
  .agents/skills/ronykit-framework/SKILL.md
  ronyup/cmd/setup/skills.go
  ronyup/internal/skeleton/skills/README.md
  ronyup/internal/skeleton/skills/clean-architecture/SKILL.md
  ronyup/internal/skeleton/skills/clean-architecture/references/adapters-frameworks.md
  ronyup/internal/skeleton/skills/clean-architecture/references/boundaries.md
  ronyup/internal/skeleton/skills/clean-architecture/references/component-principles.md
  ronyup/internal/skeleton/skills/clean-architecture/references/dependency-rule.md
  ronyup/internal/skeleton/skills/clean-architecture/references/entities-use-cases.md
  ronyup/internal/skeleton/skills/clean-architecture/references/solid-principles.md
  ronyup/internal/skeleton/skills/code-review/SKILL.md
  ronyup/internal/skeleton/skills/go-modern/SKILL.md
  ronyup/internal/skeleton/skills/refactoring-patterns/SKILL.md
  ronyup/internal/skeleton/skills/refactoring-patterns/references/composing-methods.md
  ronyup/internal/skeleton/skills/refactoring-patterns/references/moving-features.md
  ronyup/internal/skeleton/skills/refactoring-patterns/references/organizing-data.md
  ronyup/internal/skeleton/skills/refactoring-patterns/references/refactoring-workflow.md
  ronyup/internal/skeleton/skills/refactoring-patterns/references/simplifying-conditionals.md
  ronyup/internal/skeleton/skills/refactoring-patterns/references/smell-catalog.md
  ronyup/internal/skeleton/skills/release-it/SKILL.md
  ronyup/internal/skeleton/skills/release-it/references/anti-patterns.md
  ronyup/internal/skeleton/skills/release-it/references/capacity-planning.md
  ronyup/internal/skeleton/skills/release-it/references/chaos-engineering.md
  ronyup/internal/skeleton/skills/release-it/references/deployment-strategies.md
  ronyup/internal/skeleton/skills/release-it/references/observability.md
  ronyup/internal/skeleton/skills/release-it/references/stability-patterns.md
  ronyup/internal/skeleton/skills/ux-quality/SKILL.md
  ronyup/internal/skeleton/skills/working-with-legacy-code/SKILL.md
  ronyup/internal/skeleton/skills/working-with-legacy-code/references/case-studies.md
  ronyup/internal/skeleton/skills/working-with-legacy-code/references/change-algorithm.md
  ronyup/internal/skeleton/skills/working-with-legacy-code/references/characterization-tests.md
  ronyup/internal/skeleton/skills/working-with-legacy-code/references/dependency-breaking.md
  ronyup/internal/skeleton/skills/working-with-legacy-code/references/seams.md
  ronyup/internal/skeleton/skills/writing-tests/SKILL.md
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
Due: none

Add test for skill YAML frontmatter validation: ensure proper parsing of `name` and `description` fields.
  .agents/skills/ronykit-framework/SKILL.md
  ronyup/cmd/setup/skills_test.go
  ronyup/internal/skeleton/workspace/.agents/skills/ronykit-framework/SKILL.md
Due: none

fix(ratelimit): decode Lua allow results without int64 panic
  x/ratelimit/ratelimit.go
  x/ratelimit/ratelimit_test.go
Due: Extended Libraries
