Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

bump version to v0.19.26
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.19.27
  contrib/go.mod
  contrib/swagger/swagger.go
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.19.28
  contrib/go.mod
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  flow/scheduler.go
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Enable `DisableAlreadyRegisteredCheck` in activity and workflow registration options
  flow/activity.go
  flow/workflow.go
Due: none

bump version to v0.19.29
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.19.29
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

Add namespace support for activities and workflows
  flow/activity.go
  flow/sdk.go
  flow/workflow.go
Due: none

bump version to v0.19.30
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

cleanup go.sum
  flow/workflow.go
Due: none

bump version to v0.19.31
  contrib/go.mod
  flow/activity.go
  flow/go.mod
  flow/go.sum
  flow/workflow.go
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.19.32
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  flow/sdk_testkit.go
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add AES-based scramble implementation and integrate it into EncryptedDataConverter
  flow/data_converter.go
  flow/internal/scramble/scramble.go
Due: none

bump version to v0.19.34
  contrib/go.sum
  flow/go.mod
  rony/go.sum
  std/gateways/fasthttp/go.mod
Due: Framework, Standard Libraries, Contributions

bump version to v0.19.34
  std/gateways/fasthttp/go.sum
Due: Standard Libraries

Add group-based filtering for activities and workflows
  flow/activity.go
  flow/sdk.go
  flow/sdk_testkit.go
  flow/workflow.go
Due: none

bump version to v0.19.35
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
Due: Standard Libraries

Remove namespace and groups fields from Activity and Workflow structs
  flow/activity.go
  flow/workflow.go
Due: none

bump version to v0.19.36
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
Due: Standard Libraries

bump version to v0.19.36
  contrib/go.mod
  contrib/go.sum
  flow/activity.go
  flow/go.mod
  flow/go.sum
  flow/sdk.go
  rony/go.mod
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.19.37
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for Swagger tags and remove unused DTOs
  example/ex-04-stubgen/dto/msg.go
  example/ex-04-stubgen/stub/sampleservice/stub.go
  example/ex-04-stubgen/stub/sampleservicets/stub.ts
  example/ex-04-stubgen/stub/sampleservicets/swr.hooks.ts
  stub/internal/tpl/go/stub.gotmpl
Due: Framework

bump version to v0.19.38
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor error unmarshalling logic and enhance error conversion tests
  rony/errs/error.go
  rony/errs/error_test.go
Due: Framework

bump version to v0.19.39
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Integrate Zap logger into SDK configuration
  contrib/go.sum
  flow/go.mod
  flow/go.sum
  flow/logger.go
  flow/sdk.go
  rony/go.sum
Due: Framework, Contributions

bump version to v0.19.40
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add support for dynamic workflow and activity registration
  flow/go.mod
  flow/go.sum
  flow/sdk.go
  flow/sdk_testkit.go
Due: none

Update dependencies and bump minor versions
  contrib/go.mod
  contrib/go.sum
Due: Contributions

Update dependencies across modules
  boxship/go.mod
  boxship/go.sum
  rony/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
Due: Framework, Standard Libraries

Update dependencies and bump minor versions
  stub/go.mod
  stub/go.sum
  util/go.mod
  util/go.sum
Due: Framework

Add support for multipart form encoding and extended tag parsing
  contrib/swagger/swagger.go
  flow/data_converter.go
  kit/desc/message.go
  kit/desc/parser.go
  kit/desc/service.go
  kit/rpc.go
Due: Framework, Contributions

Add support for metadata in message parsing and multipart form integration
  contrib/swagger/swagger.go
  contrib/swagger/swagger_test.go
  kit/desc/desc.go
  kit/desc/parser.go
Due: Framework, Contributions

Enhance struct parsing to skip empty structs when assigning String type
  kit/desc/parser.go
Due: Framework

bump version to v0.19.41
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  util/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.19.42
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
Due: Framework, Standard Libraries, Contributions

Improve consistency in variable initialization across multiple modules.
  boxship/cmd/boxship/main.go
  boxship/context.go
  contrib/swagger/swagger_test.go
  kit/bridge_south.go
  kit/edge.go
  kit/utils/convert.go
  kit/utils/hash.go
  rony/errs/errmarshalling/marshal.go
  std/gateways/fasthttp/internal/realip/realip.go
  std/gateways/fastws/conn.go
  std/gateways/silverhttp/realip/realip.go
  stub/stub_rest.go
  stub/stubgen/input.go
Due: Framework, Standard Libraries, Contributions

Ensure error is converted before assignment in Builder.Cause method.
  rony/errs/builder.go
Due: Framework

bump version to v0.20.0
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  util/go.sum
Due: Framework, Standard Libraries, Contributions
