Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

Add module filtering and workspace support to `text` command
  ronyup/cmd/text/text.go
  util/array.go
Due: none

Optimize `bundles` map initialization and enhance `text` CLI flexibility
  ronyup/cmd/text/text.go
  util/i18n/i18n.go
Due: none

bump version to v0.20.16
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Switch `bundles` key to `string` and enhance `text` CLI language parsing
  ronyup/cmd/text/text.go
  util/i18n/i18n.go
Due: none

bump version to v0.20.17
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.20.18
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Switch `bundles` key back to `language.Tag` and extend `InitLanguage` with `catalog` support
  util/i18n/i18n.go
Due: none

bump version to v0.20.19
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Preserve `WorkerOptions` in `BackendConfig` and standardize initialization
  flow/backend.go
Due: none

bump version to v0.20.20
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

add describe workflow func
  flow/workflow.go
Due: none

bump version to v0.20.21
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

update response
  flow/workflow.go
Due: none

bump version to v0.20.22
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Enhance `WorkflowContext` with `WithCancel` and `TimerCtx` utility methods.
  flow/workflow_context.go
Due: none

bump version to v0.21.0
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor `swagger.go` to prepend `serviceName` to operation IDs and enforce `string` type for header parameters.
  contrib/swagger/swagger.go
Due: Contributions

bump version to v0.21.1
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor `swagger.go` to prepend `serviceName` to Swagger definitions and references.
  contrib/swagger/swagger.go
Due: Contributions

bump version to v0.21.2
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor `swagger.go` to centralize definition naming logic with `definitionName` helper function.
  contrib/swagger/swagger.go
Due: Contributions

bump version to v0.21.3
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add nil check for `ps.Origin.Name` before appending tags in `swagger.go`.
  contrib/swagger/swagger.go
Due: Contributions

bump version to v0.21.4
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add `req` parameter to `ContinueAsNewError` in `WorkflowContext` and update dependencies.
  flow/go.mod
  flow/go.sum
  flow/workflow_context.go
Due: none

bump version to v0.21.5
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Add `GetVersion` method to `WorkflowContext` and expose `Version` constants
  flow/workflow_context.go
Due: none

bump version to v0.21.6
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update `fasthttp` to v1.65.0, bump Go module dependencies, and enhance query handling logic for slices in `stub_rest.go`.
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  stub/stub_rest.go
  stub/stub_test.go
Due: Framework, Standard Libraries

bump version to v0.21.7
  contrib/go.mod
  flow/go.mod
  flow/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Refactor tests to include `serviceName` in `ToSwaggerDefinition` and update Go module dependencies.
  contrib/go.mod
  contrib/go.sum
  contrib/swagger/swagger_test.go
  flow/go.mod
  flow/go.sum
Due: Contributions

Refactor `ParsedService` to use `PkgPath` for unique type identification and enhance parsing logic.
  kit/desc/parser.go
Due: Framework

Refactor `decoder.go` to optimize parameter parsing and enhance query handling logic.
  std/gateways/fasthttp/decoder.go
Due: Standard Libraries

bump version to v0.21.8
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update Go module dependencies to their latest versions, including `ronykit` v0.21.8 and `ginkgo` v2.25.3.
  boxship/go.mod
  boxship/go.sum
  contrib/go.mod
  contrib/go.sum
  contrib/swagger/swagger.go
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  example/ex-02-rest/go.mod
  example/ex-02-rest/go.sum
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-04-stubgen/go.mod
  example/ex-04-stubgen/go.sum
  example/ex-05-counter/go.mod
  example/ex-05-counter/go.sum
  example/ex-06-counter-stream/go.mod
  example/ex-06-counter-stream/go.sum
  example/ex-08-echo/go.sum
  example/ex-09-mw/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  scripts/cleanup.sh
  std/gateways/fasthttp/decoder.go
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  testenv/go.mod
Due: Framework, Standard Libraries, Contributions

Add `PrintRoutesCompact` to `Server` and minor comment wording adjustment in `EdgeServer`.
  kit/edge.go
  rony/server.go
Due: Framework

bump version to v0.21.9
  contrib/go.mod
  flow/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

Update Go module dependencies to latest versions, including `ronykit` v0.21.9 and `fasthttp` v1.66.0.
  contrib/go.sum
  rony/go.mod
  rony/go.sum
Due: Framework, Contributions

Refactor error handling across multiple modules and apply minor code improvements, including `nolint` directives and logic enhancements.
  example/ex-01-rpc/cmd/server/main.go
  example/ex-02-rest/cmd/client/main.go
  kit/utils/file.go
  rony/errs/error.go
  rony/server.go
  rony/setup_middleware.go
  std/gateways/fasthttp/decoder.go
  std/gateways/fasthttp/proxy/reverseproxy.go
  std/gateways/fasthttp/proxy/ws_reverseproxy.go
  std/gateways/silverhttp/realip/realip.go
  stub/stub_rest.go
Due: Framework, Standard Libraries

Refactor `flow` package: Introduce `ActivityFactory`, enhance state management, and update activity execution logic.
  flow/activity.go
  flow/sdk.go
  testenv/flow_test.go
Due: Framework

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Contributions: any of: contrib/**
