Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Contributions

codecov.yml:

comment:
  layout:  "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - kit/**
        - rony/**
        - stub/**
        - testenv/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: stdlib
      name: Standard Libraries
      paths:
        - std/gateways/**
        - std/clusters/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
    - component_id: contrib
      name: Contributions
      paths:
        - contrib/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto

Add license scan report and status
  README.MD
Due: none

fix: incorrect lock and panic in out of order cluster message
  kit/bridge_south.go
  std/clusters/p2pcluster/cluster.go
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  testenv/.golangci.yml
  testenv/cluster_test.go
  testenv/services/key_value.go
Due: Framework, Standard Libraries

fix: southbridge deadlock and race condition
  kit/bridge_south.go
  kit/ctx.go
  kit/edge.go
  kit/envelope_carrier.go
  std/clusters/p2pcluster/cluster.go
  std/clusters/rediscluster/cluster.go
  testenv/cluster_test.go
Due: Framework, Standard Libraries

[p2pCluster] hackfix to improve message orders, by introducing delay and batch
  kit/bridge_south.go
  kit/utils/batch/batcher.go
  kit/utils/batch/batcher_test.go
  std/clusters/p2pcluster/cluster.go
Due: Framework, Standard Libraries

Merge pull request #13
  kit/bridge_south.go
  kit/ctx.go
  kit/edge.go
  kit/envelope_carrier.go
  kit/utils/batch/batcher.go
  kit/utils/batch/batcher_test.go
  std/clusters/p2pcluster/cluster.go
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/cluster.go
  testenv/.golangci.yml
  testenv/cluster_test.go
  testenv/services/key_value.go
Due: Framework, Standard Libraries

fix: decoding embedded fields
  kit/desc/contract.go
  kit/desc/service.go
  kit/utils/reflector/obj.go
  kit/utils/reflector/reflector.go
  kit/utils/reflector/reflector_test.go
  std/clusters/p2pcluster/cluster.go
  stub/stub_rest.go
  testenv/cluster_test.go
  testenv/decoder_test.go
  testenv/services/echo.go
Due: Framework, Standard Libraries

Merge pull request #14
  kit/desc/contract.go
  kit/desc/service.go
  kit/utils/reflector/obj.go
  kit/utils/reflector/reflector.go
  kit/utils/reflector/reflector_test.go
  std/clusters/p2pcluster/cluster.go
  stub/stub_rest.go
  testenv/cluster_test.go
  testenv/decoder_test.go
  testenv/services/echo.go
Due: Framework, Standard Libraries

bump version to v0.17.0
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

chore: fix lints
  contrib/go.sum
  kit/bridge_south.go
  rony/error.go
  rony/go.mod
  rony/go.sum
  std/clusters/rediscluster/cluster.go
Due: Framework, Standard Libraries, Contributions

add 3rd-party license compliance report
  COMPLIANCE.md
Due: none

chore: fix github codecov action
  .github/workflows/go.yml
Due: none

chore: improve test coverage
  kit/utils/buf/bytes.go
  kit/utils/buf/bytes_test.go
  kit/utils/reflector/reflector.go
  kit/utils/reflector/reflector_test.go
Due: Framework

chore: increase desc package test coverage
  kit/desc/service_test.go
Due: Framework

chore: small refactor
  kit/bridge_south.go
Due: Framework

chore: cleanup and refactor testenv tests
  testenv/base.go
  testenv/cluster_test.go
  testenv/fastws_test.go
  testenv/stub_test.go
Due: Framework

Merge pull request #15
  kit/bridge_south.go
  testenv/base.go
  testenv/cluster_test.go
  testenv/fastws_test.go
  testenv/stub_test.go
Due: Framework

bump version to v0.17.1
  contrib/go.mod
  kit/README.MD
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

[stub] fix panic
  kit/utils/reflector/obj.go
  testenv/service_test.go
  testenv/services/echo_raw.go
  testenv/stub_test.go
Due: Framework

bump version to v0.17.2
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

chore: refactor Makefile and maintainance scripts
  Makefile
  contrib/go.sum
  kit/desc/desc.go
  kit/desc/service.go
  kit/edge_options.go
  kit/edge_test.go
  kit/service.go
  rony/go.sum
  scripts/run-test.sh
  stub/stubgen/input.go
Due: Framework, Contributions

[contrib] add redoc ui
  async/queue.go
  contrib/swagger/fs.go
  contrib/swagger/internal/redoc-ui/index.html
  contrib/swagger/internal/redoc-ui/redoc.standalone.js
  contrib/swagger/swagger.go
  example/ex-01-rpc/cmd/server/main.go
  kit/desc/desc.go
Due: Framework, Contributions

bump version to v0.17.3
  contrib/go.mod
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

bump version to v0.17.4
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

update examples
  contrib/go.sum
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  example/ex-02-rest/go.mod
  example/ex-02-rest/go.sum
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-04-stubgen/go.mod
  example/ex-04-stubgen/go.sum
  example/ex-05-counter/go.mod
  example/ex-05-counter/go.sum
  example/ex-06-counter-stream/go.mod
  example/ex-06-counter-stream/go.sum
  example/ex-08-echo/go.mod
  example/ex-08-echo/go.sum
  example/ex-09-mw/go.mod
  example/ex-09-mw/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/.golangci.yml
  ronyup/cmd/setup/setup.go
Due: Framework, Contributions

fix lints
  ronyup/.golangci.yml
  ronyup/cmd/setup/setup.go
Due: none

[contrib] support deprecated
  contrib/swagger/swagger.go
  kit/desc/parser.go
Due: Framework, Contributions

bump version to v0.17.5
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

chore: cleanup
  contrib/go.sum
  rony/go.sum
Due: Framework, Contributions

chore: update readme
  kit/README.MD
Due: Framework

chore: fix grammers
  kit/conn.go
  kit/contract.go
  kit/ctx_limited.go
  kit/edge_options.go
  kit/envelope.go
  kit/rpc.go
Due: Framework

chore: update dependencies
  contrib/go.mod
  contrib/go.sum
  contrib/swagger/swagger.go
  example/ex-02-rest/go.mod
  example/ex-02-rest/go.sum
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  kit/desc/contract.go
  kit/go.mod
  kit/go.sum
  kit/utils/time.go
  rony/setup_stream.go
  rony/setup_unary.go
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  testenv/services/key_value.go
Due: Framework, Standard Libraries, Contributions

bump version to v0.17.6
  contrib/go.mod
  contrib/go.sum
  example/ex-02-rest/go.sum
  example/ex-03-cluster/go.sum
  kit/go.sum
  rony/.golangci.yml
  rony/go.mod
  ronyup/.golangci.yml
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/.golangci.yml
  stub/go.mod
  stub/go.sum
  testenv/.golangci.yml
Due: Framework, Standard Libraries, Contributions

cleanup
  contrib/go.mod
  contrib/go.sum
  rony/go.mod
  rony/go.sum
Due: Framework, Contributions

[stub] add support for compressing http requests
  contrib/go.sum
  example/ex-01-rpc/go.sum
  example/ex-02-rest/go.sum
  example/ex-03-cluster/go.sum
  example/ex-04-stubgen/go.sum
  example/ex-05-counter/go.sum
  example/ex-06-counter-stream/go.sum
  example/ex-08-echo/go.sum
  example/ex-09-mw/go.sum
  example/ex-10-async/go.mod
  example/ex-10-async/go.sum
  kit/go.sum
  rony/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  stub/go.sum
  stub/stub_rest.go
Due: Framework, Standard Libraries, Contributions

bump version to v0.17.7
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

fix: [stub]add support for compressing
  contrib/go.sum
  rony/go.mod
  rony/go.sum
  stub/stub_rest.go
Due: Framework, Contributions

bump version to v0.17.8
  contrib/go.mod
  rony/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/silverhttp/go.mod
  std/gateways/silverhttp/go.sum
  stub/go.mod
  stub/go.sum
Due: Framework, Standard Libraries, Contributions

chore: cleanup
  contrib/go.sum
  rony/go.sum
  stub/stub_rest.go
Due: Framework, Contributions
