Repository clubpay/ronykit: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Standard Libraries, Extended Libraries

trim "feature/" prefix from `FeatureDir` in project path construction
  ronyup/cmd/setup/setup.go
Due: none

add advanced documentation for `kit`, `architecture`, and API cookbook
  GETTING_STARTED.MD
  README.MD
  docs/AI.md
  docs/advanced-kit.md
  docs/architecture.md
  docs/cookbook.md
  docs/getting-started.md
  docs/ronyup-guide.md
  rony/README.MD
Due: Framework

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.mod
  rony/go.sum
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.mod
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.mod
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.mod
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.mod
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump dependencies: update go-openapi, go.temporal.io, and libp2p packages (patch)
  example/ex-01-rpc/go.mod
  example/ex-01-rpc/go.sum
  example/ex-05-counter/go.mod
  example/ex-05-counter/go.sum
  example/ex-06-counter-stream/go.mod
  example/ex-06-counter-stream/go.sum
  example/ex-08-echo/go.mod
  example/ex-08-echo/go.sum
  example/ex-09-mw/go.mod
  example/ex-09-mw/go.sum
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
  flow/go.mod
  flow/go.sum
  go.work
  ronyup/go.mod
  ronyup/go.sum
  std/clusters/p2pcluster/go.mod
  std/clusters/p2pcluster/go.sum
  std/gateways/mcp/go.mod
  std/gateways/mcp/go.sum
  testenv/go.mod
  testenv/go.sum
Due: Framework, Standard Libraries

bump COMPLIANCE.md dependencies and licenses (doc)
  COMPLIANCE.md
Due: none

update embed directive for `skeleton` in `ronyup` (patch)
  ronyup/internal/embed.go
Due: none

add documentation for `flow`: type-safe Go wrapper for Temporal SDK
  flow/README.md
Due: none

bump dependencies: update Go module files across multiple packages (patch)
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/gateways/mcp/go.sum
  testenv/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
Due: Framework, Standard Libraries, Extended Libraries

update route table rendering: improve layout, styles, and handler formatting
  example/ex-01-rpc/cmd/server/main.go
  kit/edge.go
Due: Framework

add per-request endpoint logging: support status, route, latency, and service output
  example/ex-01-rpc/cmd/server/main.go
  kit/bridge_north.go
  kit/edge.go
  kit/edge_extra_test.go
  rony/server.go
Due: Framework

bump workspace requires (minor)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (minor)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

add `github-release.sh`: automate GitHub release creation with workspace module tags
  Makefile
  scripts/github-release.sh
Due: none

update `github-release.sh`: rename release section header to "Released Modules"
  scripts/github-release.sh
Due: none

refactor `envelope_carrier`: lazily initialize header maps and simplify carrier handling logic
  kit/bridge_extra_test.go
  kit/bridge_south.go
  kit/coverage_zero_paths_test.go
  kit/envelope_carrier.go
  kit/perf_baseline_test.go
  kit/robustness_bridge_fuzz_test.go
  kit/robustness_fuzz_test.go
  ronyup/knowledge/architecture/flow-workflows.md
  ronyup/knowledge/characteristics/workflow.md
  ronyup/knowledge/packages/flow.md
  ronyup/knowledge/server/instructions.md
Due: Framework

update formatting: improve documentation structure and readability across `ronyup` knowledge files
  ronyup/knowledge/architecture/api-handler-files.md
  ronyup/knowledge/architecture/apidoc-generation.md
  ronyup/knowledge/architecture/caching.md
  ronyup/knowledge/architecture/di-wiring.md
  ronyup/knowledge/architecture/domain-layer.md
  ronyup/knowledge/architecture/error-handling.md
  ronyup/knowledge/architecture/flow-workflows.md
  ronyup/knowledge/architecture/gen-stub.md
  ronyup/knowledge/architecture/i18n-bundles.md
  ronyup/knowledge/architecture/integration-tests.md
  ronyup/knowledge/architecture/inter-service-stubs.md
  ronyup/knowledge/architecture/logging.md
  ronyup/knowledge/architecture/middleware.md
  ronyup/knowledge/architecture/module-wiring.md
  ronyup/knowledge/architecture/postgres-sqlc.md
  ronyup/knowledge/architecture/repo-ports.md
  ronyup/knowledge/architecture/rkit-helpers.md
  ronyup/knowledge/architecture/service-structure.md
  ronyup/knowledge/architecture/settings-config.md
  ronyup/knowledge/architecture/shared-pkg.md
  ronyup/knowledge/architecture/thin-handlers.md
  ronyup/knowledge/architecture/tracing-metrics.md
  ronyup/knowledge/architecture/workspace-layout.md
  ronyup/knowledge/characteristics/database.md
  ronyup/knowledge/characteristics/workflow.md
  ronyup/knowledge/packages/flow.md
  ronyup/knowledge/planning/file-purposes.md
  ronyup/knowledge/server/instructions.md
Due: none

update skeleton: support configurable app name and add database service scaffolding
  ronyup/cmd/setup/setup.go
  ronyup/internal/skeleton/workspace/Makefile
  ronyup/internal/skeleton/workspace/cmd/service/main.gotmpl
  ronyup/internal/skeleton/workspace/devops/docker-compose.yml
Due: none

update skeleton: support interactive setup, configurable app name, and Redis service scaffolding
  README.MD
  ronyup/cmd/setup/interactive.go
  ronyup/internal/skeleton/workspace/Makefile
  ronyup/internal/skeleton/workspace/devops/docker-compose.ymltmpl
Due: none

update formatting: align Markdown tables and code snippets in docs for better readability
  docs/advanced-kit.md
  docs/architecture.md
  docs/getting-started.md
  docs/knowledge-architecture.md
  docs/ronyup-guide.md
Due: none

refactor `setup`: check for existing Git repository before initializing new workspace
  ronyup/cmd/setup/setup.go
Due: none

add `ronyup/knowledge`: provide prompts for API design, stub generation, service coding, and workflow implementation
  ronyup/knowledge/prompts/design-api.md
  ronyup/knowledge/prompts/generate-stubs.md
  ronyup/knowledge/prompts/write-service-code.md
  ronyup/knowledge/prompts/write-workflow.md
Due: none

refactor `setup`: auto-detect repository module from `go.work` and pass it to feature creation
  ronyup/cmd/setup/setup.go
Due: none

add `StartWorkflow` and `NewSimpleWorkflow` APIs; update Temporal API to v1.62.6
  flow/backend.go
  flow/go.mod
  flow/go.sum
  flow/workflow.go
Due: none

add `CloneWorkflow` API: enable cloning Temporal workflows with identical input and configurations
  flow/workflow.go
Due: none

bump workspace post-tidy (patch)
  flow/go.mod
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.mod
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

add tests for resource completion: validate category, name filtering, and context-based matches
  ronyup/cmd/mcp/resource.go
  ronyup/cmd/mcp/resource_test.go
  ronyup/cmd/mcp/server.go
Due: none

add migration prompt and knowledge: guide incremental transition from `kit` to `rony`
  ronyup/README.MD
  ronyup/knowledge/architecture/migrating-kit-to-rony.md
  ronyup/knowledge/prompts/migrate-kit-to-rony.md
Due: none

refactor resource completion: introduce stricter validation for nil checks and standardize string normalization; add tests to validate behavior
  flow/workflow.go
  ronyup/cmd/mcp/resource.go
  ronyup/cmd/mcp/resource_test.go
Due: none

add `ronykit-framework` skill: enable service development, scaffolding, and customization in the RonyKit ecosystem
  .cursor/skills/ronykit-framework/README.md
  .cursor/skills/ronykit-framework/SKILL.md
Due: none

Update opentelemetry dependency
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
  flow/go.mod
  flow/go.sum
  testenv/go.mod
  testenv/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Extended Libraries

Update opentelemetry dependency (#17)
  example/ex-03-cluster/go.mod
  example/ex-03-cluster/go.sum
  example/ex-10-flow-codec/go.mod
  example/ex-10-flow-codec/go.sum
  flow/go.mod
  flow/go.sum
  testenv/go.mod
  testenv/go.sum
  x/datasource/go.mod
  x/datasource/go.sum
  x/di/go.mod
  x/di/go.sum
  x/telemetry/go.mod
  x/telemetry/go.sum
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Extended Libraries

bump workspace requires (patch)
  flow/go.mod
  rony/go.mod
  ronyup/go.mod
  std/clusters/p2pcluster/go.mod
  std/clusters/rediscluster/go.mod
  std/gateways/fasthttp/go.mod
  std/gateways/fastws/go.mod
  std/gateways/mcp/go.mod
  std/gateways/silverhttp/go.mod
  stub/go.mod
  testenv/go.mod
  x/apidoc/go.mod
  x/batch/go.mod
  x/cache/go.mod
  x/datasource/go.mod
  x/datasource/go.sum
  x/di/go.mod
  x/telemetry/go.mod
  x/testkit/go.mod
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

bump workspace post-tidy (patch)
  flow/go.sum
  rony/go.sum
  ronyup/go.sum
  std/clusters/p2pcluster/go.sum
  std/clusters/rediscluster/go.sum
  std/gateways/fasthttp/go.sum
  std/gateways/fastws/go.sum
  std/gateways/mcp/go.sum
  std/gateways/silverhttp/go.sum
  stub/go.sum
  testenv/go.sum
  x/apidoc/go.sum
  x/batch/go.sum
  x/cache/go.sum
  x/datasource/go.sum
  x/di/go.sum
  x/telemetry/go.sum
  x/testkit/go.sum
Due: Framework, Standard Libraries, Extended Libraries

refactor concurrency: replace `atomic` package usage with `sync/atomic` for improved clarity and thread safety
  std/gateways/fasthttp/bundle.go
  std/gateways/fastws/gateway.go
  stub/stub_ws.go
Due: Framework, Standard Libraries

refactor: handle interface types in stub template field generation
  stub/internal/tpl/go/stub.gotmpl
Due: Framework

Path conditions:
  Framework: any of: kit/**, rony/**, stub/**, testenv/**
  Standard Libraries: any of: std/gateways/**, std/clusters/**
  Extended Libraries: any of: x/**
